[2015-03-19 19:16] ethanwhite opened #1 "Check splitting out of python lesson"
@wrightaprilm & @tracykteal - could you take a look at this and see if I've extracted the files and history of the Python lessons successfully. Thanks.

[2015-03-19 19:40] wrightaprilm commented on #1
This looks accurate per my contributions.

[2015-03-19 20:43] tracykteal commented on #1
Files and history look good to me. Thanks!

[2015-03-28 17:16] hlapp opened #2 "Contributing guidelines need fixes reflecting split-out lessons"
* Repo to submit pull requests to is no longer the datacarpentry repo.
* Lessons are no longer in subdirectories:

[2015-04-13 17:22] lwasser opened #5 "Contributing MD page is dated"
The contributing document reflects ALL DC lessons. Should we change it to reflect only python materials? And if so, was @qjcg and @fmichonneau 's workshop the first DC python workshop and our SEA one the second? And 2) who else has contributed to these Python materials?

I've got:
Ethan White, ??, Mariela Perignon, John Gossett, Francois Michonneau, Leah Wasser, ...

i will be submitting a new PR

[2015-04-13 18:30] ethanwhite commented on #5
Yep.

[2015-04-13 23:37] lwasser opened #7 "loc vs iloc clarification please :)"
hey @qjcg et all... i am working through some of the materials again. the loc vs iloc text is pretty confusing and i'm trying to figure out a simple way to explain it. it seems loc accepts labels and numeric integer ranges. Iloc does not accept labels. But otherwise what is the difference? is it just labels vs no labels?

http://lwasser.github.io/python-ecology/02-index-slice-subset

Can you pleas

[2015-04-14 14:11] qjcg commented on #7
Yes (see [this summary](http://pandas.pydata.org/pandas-docs/version/0.16.0/indexing.html#different-choices-for-indexing)).

- `loc`: indexing via *labels* ([ref](http://pandas.pydata.org/pandas-docs/version/0.16.0/indexing.html#indexing-label))
- `iloc`: indexing via *integers* (that's what the "i" stands for) ([ref](http://pandas.pydata.org/pandas-docs/version/0.16.0/indexing.html#indexing-integ

[2015-04-14 14:14] lwasser commented on #7
cool - i thought that was mixed up! Thank you. i've made a few changes on my repo to that file that aren't on DC yet. Can you PR to my repo when you make the edits and then i'll PR to DC later today??

Leah

[2015-04-14 14:16] qjcg commented on #7
Will do!

[2015-04-14 14:16] lwasser commented on #7
Awesome! thanks!!! :)

[2015-06-09 16:39] tracykteal opened #10 "Introducing the IPython notebook"
For the R lessons we have an 'Introducing RStudio' module. It would be nice to have an 'Introducing the IPython Notebook' in the Python lesson.

IPython Notebook itself is a great thing to teach for data analysis, so it seems very worthwhile to teach and use the IPython notebook in these lessons.

[2015-06-09 16:40] tracykteal commented on #10
Have these lessons been taught with IPython notebook or with command line Python?

[2015-06-09 16:42] lwasser commented on #10
Hey tracy -- we taught these lessons using the notebook. it's definitely convenient BUT its nice for folks to know basic shell to open it. Although with anaconda there is a gui icon that you can use to open it too but then you need to set the working directory.

[2015-06-09 16:51] tracykteal commented on #10
Thanks @lwasser. @cmacdonell is going to be teaching @FCTweedie Python NLTK lesson and was thinking about the best way to start, and whether or not to use the notebook. It's good to hear it worked well for you. He is teaching the command line first, I think, so that should help with being able to start anaconda.

Maybe we should include that setting of the working directory in an 'Introduction to

[2015-06-09 17:13] tracykteal commented on #10
These tutorials seem good
http://opentechschool.github.io/python-data-intro/core/notebook.html
and from @jdfreder
https://blog.safaribooksonline.com/2013/12/12/start-ipython-notebook/

[2015-06-09 17:23] lwasser commented on #10
hey tracy --
there is still a very old PR for you to merge but i added a section on setting the working directory here

https://github.com/lwasser/python-ecology/blob/gh-pages/01-starting-with-data.md

If they open the notebook in shell from the director where there data are, then they're good. otherwise they can check it and set it. i think it' sgood in general to check it because sometimes folks

[2015-06-10 10:12] tracykteal commented on #10
Thanks I saw that update in your PR. PR looks good. I just had a couple comments. Sorry for the slow response on that. :(

[2015-06-16 15:55] lwasser commented on #10
Thanks @tracykteal ! please don't apologize! i completely understand busy schedules!!! :)

[2015-06-21 14:21] tracykteal opened #12 "Should we be teaching python 3 instead of 2?"
There's a thread on SWC discuss about teaching Python 2 or 3. As these are people new to Python, so without history with the language, should we start them out with Python 3 and be teaching Python 3 instead of 2.x?

[2015-06-21 18:10] ethanwhite commented on #12
+1 for Python 3 (I've been campaigning for it for a while at SWC and am happy to see that this is looking possible both their and here).

[2015-12-04 22:59] tracykteal opened #20 "Web based notebook for people with install issues"
It would be nice to have a web-based solution for IPython notebooks as a back up if people have install issues. What are the available options for this? Once we know what they are, we can make a note to instructors in this lesson.

[2015-12-04 23:01] tracykteal commented on #20
@cmacdonell suggested JuliaBox (https://juliabox.org) It is there for Julia, but you can start a new notebook in Python 2.0 as well as Julia. It seems to work really well, with the caveat that it's Python 2.0 and we're now teaching 3.0.

[2015-12-05 20:34] cmacdonell commented on #20
Hi, there are two additional things I really like about Juliabox.    In the tabs at the top there is a *console* and a *file upload*.  In particular with the console, pip and git are installed.   With a quick test, I was able to install pandas via pip, upload the surveys.csv data file (from python-ecology) and complete the summary challenge.

In addition, to the notebook, the console could easily

[2015-12-05 22:59] cmacdonell commented on #20
JuliaBox is open source, based on docker.

https://github.com/JuliaLang/JuliaBox

I'll see if I can get it running.  From there, Python 3 should be fairly straightforward.

[2015-12-26 21:00] tracykteal opened #23 "use the portal data from FigShare for this lesson"
This lesson uses the portal data, but a copy that is in the repo, rather than the one on FigShare

https://figshare.com/articles/Portal_Project_Teaching_Database/1314459

It would be good to update the lesson to use this data. This will likely require some changes throughout the lesson though, since the FigShare version of surveys.csv has an added column 'hindfoot_length' and different column head

[2015-12-26 21:02] tracykteal opened #24 "add link to the data in the 'starting with data' lesson"
There is not currently a link to the data used in the lesson, in the '01-starting-with-data' lesson.  We should add a link to the data.

That link is currently in the repo in https://github.com/datacarpentry/python-ecology/tree/gh-pages/data

When we switch over to the FigShare database as in https://github.com/datacarpentry/python-ecology/issues/23 we can update the link.

[2016-01-05 13:06] mkuzak opened #26 "library vs package"
In lesson '01-starting-with-data' we're talking about `libraries`. The term `library` does not have any specific contextual meaning in Python, unlike in C or C++. It might be better to talk about `packages` since this is in line with Python terminology. On the other hand in Pandas documentation states 'Python Data Analysis Library' which adds confusion.

[2016-01-06 13:11] mkuzak commented on #23
I'm working on adjusting this lesson to FigShare version of the data. In 04-merging-data `survey2001.csv` and `survey2002.csv` are used, from local data directory. Those files are not available on FigShare. Should we keep it like it is or add those files to FigShare?

[2016-01-07 22:41] #23 closed

[2016-01-08 13:03] mkuzak commented on #12
+ 1 for Python 3. I made a pull request in case we agree on it.

[2016-01-08 13:04] mkuzak commented on #7
I think that issue is resolved now and should be closed.

[2016-01-08 14:58] qjcg commented on #7
@mkuzak: agreed. @tracykteal, as I don't have the permissions necessary for this, can you please do the honors?

[2016-01-08 15:28] #7 closed

[2016-01-13 15:17] #12 closed

[2016-02-01 21:31] amueller opened #30 ""Batteries included" is a lie for data science"
The intro says

I would argue that the opposite is true. Coming from R or Matlab, people are very surprised that you need to install / import a library (numpy) to get matrices. And a different one for dataframes.
Installing numpy also is a major pain on most operating systems, unless you use anaconda.
Does "standard installation" mean anaconda? Then the instruction should say that.

A novice might

[2016-02-05 14:56] hlapp commented on #24
Changing the data link to Figshare still needs to happen, the merge of #25 (see 9ec7fc93e6bc4e2bf3769e91d41b283d50c055f2) didn't address that.

[2016-02-10 00:20] tracykteal commented on #24
It's now addressed in https://github.com/datacarpentry/python-ecology/pull/34 and should now be fixed

[2016-02-15 16:27] amueller opened #36 "installation instructions"
I haven't found any installation instructions. Maybe I missed it.

[2016-02-15 16:40] amueller opened #37 "matplotlib explains mostly config options, not different kinds of plots"
I feel that different kinds of plots is something is important to know, like scatter plots, box plots, heatmaps etc...
The options that are explained also don't seem that important to beginners, like dpi, which seems a pretty advanced concept.

[2016-03-01 23:32] qjcg commented on #20
Just seeing this discussion now, and thought I'd mention [Binder](http://mybinder.org/).

[100% Open source](https://github.com/binder-project), works with Jupyter (formerly IPython) notebooks, both Python 2 *and* 3, and very easy to use:

- enter a GitHub repo URL containing a notebook at mybinder.org
- optionally list any dependencies you might want to use (installable via pip, conda, or Docker)

[2016-03-03 15:40] maneesha opened #41 "Links at bottom of lesson pages incorrect"
Links to FB, twitter, etc. just link back to http://www.datacarpentry.org/python-ecology/

Link to license is 404

Bug report has no address in mailto:

[2016-03-20 21:08] qjcg commented on #1
Seems like all concerned are in agreement here; closing this issue.

[2016-03-20 21:08] #1 closed

[2016-03-21 14:02] mboisson commented on #24
I am currently going through the lesson to teach it tomorrow. The links provided are completely out of phase with the content of the lessons themselves. For example, lesson on automating data refers to a "data" folder, which does not exist (only 2 files are provided for download, rather than a whole directory). It also supposedly contains the files "plots.csv", "portal_mammals.sqlite", "species.cs

[2016-03-21 14:16] ethanwhite commented on #24
@mboisson - I'm not actively involved in this lesson, but for the data itself is now centrally stored on figshare: https://figshare.com/articles/Portal_Project_Teaching_Database/1314459. If you think an archive with a particular set of files would be a useful addition please open an issues at https://github.com/weecology/portal-teachingdb. Thanks.

[2016-03-21 14:29] mboisson opened #44 "Why not use surveys_df['year'].unique() rather than range()"
In the lesson about automation, why not pull the list of unique years from surveys_df['year'].unique() rather than creating confusion with the range() function ?

It would simplify the lesson quite a bit.

[2016-03-21 15:59] mboisson commented on #24
From what I can see, the following file structures is what is needed for the Python Ecology Lesson : [python-ecology]$ ls data/
portal_mammals.sqlite	species.csv		surveys.csv

The biggest part of the work however is to modify the lesson so that it uses those files rather than downloading the single files every time. It is more of a work on the Data Carpentry lesson than work on the organization of

[2016-04-05 15:24] qjcg opened #45 "Update markdown processor to kramdown"
The [`redcarpet`](https://github.com/vmg/redcarpet) markdown processor used (i.e. in `_config.yml`) to convert our `.md` files to HTML via GitHub Pages / Jekyll will **[no longer be supported] as of May 1st 2016**.

Though the above states that:

this does *not* appear to be completely accurate in practice.

Thus, the processor must be changed in `_config.yml` (to [Kramdown](http://kramdown.gettal

[2016-04-05 17:14] qjcg commented on #45
Initial work pushed to redcarpet-to-kramdown branch (a6bf1b035b7b758f80efa7ca61df505d0c93089b, f372f0dfdcd95eaf535731aa6943880fb09989f9).

[2016-04-14 23:11] justbennet commented on #24
Maxime, you get a couple of extra files, but the Download all button on the figshare site links to a .zip of everything.  Does that help any?

You said:  "The biggest part of the work however is to modify the lesson so that it uses those files rather than downloading the single files every time."  Do you mean, modify the lesson so the pd.read_csv() commands refer to the local files rather than to

[2016-04-15 10:18] mboisson commented on #24
Yes indeed, this is what I am referring to. In my opinion, a lesson should be self-contained. You download all of the data in one step, and then always work with these files.

[2016-04-15 11:10] justbennet commented on #24
Maxime, I submitted a pull request to change pd.read_csv('URL') to pd.read_csv('FILE').

[2016-04-16 02:07] justbennet commented on #45
@qjcg I tried changing the markdown processor to kramdown in a clone by simply modifying the _config.yml, and it appears to make the background color for code samples pink now...?

http://justbennet.github.io/python-ecology-lesson/01-starting-with-data

Let me know if I can help with this.  I can put some time into the python-ecology-lesson.

[2016-04-16 02:28] justbennet commented on #24
The information about getting the data and what's in it has got a bit muddled, I think.  I propose that the following changes be made to the current material.

Reorder the sections at the beginning of the lesson.  Currently, there is information about the data, then downloading, then libraries, then information about the data is repeated almost verbatim in the lesson overview.  I propose the follo

[2016-04-16 15:40] qjcg commented on #45
Hi @justbennet, glad to have you on board!

Yes, it looks like the issue is that we/GitHub are switching from away from redcarpet with [pygments](http://pygments.org/) for syntax hilighting to kramdown with [rouge](http://rouge.jneen.net/) for syntax hilighting. For example, one GitHub Pages user has described some potential issues related to the transition [here](http://idratherbewriting.com/2016

[2016-04-16 16:13] carpenterbennet commented on #45
@qjcg I think I now know a bit more about branching and pull requests on GitHub now than yesterday.  I just summarized my mistakes in the README.md at https://github.com/carpenterbennet/topic_branching and if you have a few minutes and care to take quick look for anything I've said that's plain wrong, I would appreciate it.  I'm hoping that might be useful to someone.

I'll see if I can track down

[2016-04-16 16:15] justbennet commented on #45
@qjcg Sorry about that, was logged into the example acccount.  That last comment was my doppelganger.

[2016-04-16 16:27] qjcg commented on #45
No problem @justbennet. I'll have a quick look over your branching document, but that conversation should move over there. Let's keep the discussion here focused on the kramdown/rouge transition.

[2016-04-16 16:28] justbennet commented on #45
Yep.  You asked about what I know, and that's what it is.  ;-)

[2016-04-16 16:45] #2 closed

[2016-04-16 17:03] justbennet commented on #45
This text

/* Highlighted changes in code. */
.highlight {
    background-color: mistyrose;
}

from .../css/lesson.css seems to be the source of the pink background in code blocks.

[2016-04-16 17:05] justbennet commented on #45
Rouge appears to be marking code blocks thusly, which is what's calling it out, I think:

<div class="highlighter-rouge"><pre class="highlight">
   <code>
      <span class="kn">import</span> <span class="nn">pandas</span>
      <span class="kn">as</span> <span class="nn">pd</span>
   </code>
</pre></div>

[2016-04-16 17:43] justbennet commented on #45
Does this look better?
http://justbennet.github.io/kramdown-test/01-starting-with-data

[2016-04-16 17:47] qjcg commented on #45
Yep, the syntax highlighting looks great! Please send along a PR (against the gh-pages branch) when you're ready.

[2016-04-16 18:05] justbennet commented on #45
I think that style might have got introduced into the lesson.css file for a reason.  My suspicion is that it is used somewhere to highlight errors in code fragments or something.  I changed both the lesson.css and in _config.yml.  I will probably poke around to see if I can see where it was used under the old scheme so I can tell people what to look for (and maybe how to change it) to retain the c

[2016-04-16 18:07] qjcg commented on #45
Sounds good. As mentioned in my last message, please make your PR against the gh-pages branch.

[2016-04-16 18:45] justbennet commented on #45
I submitted the PR.

[2016-04-16 20:20] qjcg commented on #45
Thanks @justbennet, looks like your PR #51 plus commit [c03fc](https://github.com/datacarpentry/python-ecology-lesson/commit/c03fcfb475158c249c5292457557b32fa9b85446) have resolved this! Closing.

[2016-04-16 20:20] #45 closed

[2016-04-18 18:51] #41 closed

[2016-05-07 15:12] qjcg opened #56 "Lessons are too long"
Long lessons should be split / refactored into shorter, more focused "episodes" similar to the [python-novice-gapminder](https://swcarpentry.github.io/python-novice-gapminder/) and [new-sql](https://gvwilson.github.io/new-sql/) lessons.

[2016-05-07 16:04] thomasballinger opened #58 "Lesson links are broken"
Both the link in the GitHub description (http://datacarpentry.github.io/python-ecology) and the link at http://www.datacarpentry.org/lessons/#ecology-workshop (https://datacarpentry.github.io/python-ecology-lesson/) are broken for me.

[2016-05-07 17:28] qjcg commented on #58
This repo was recently renamed from "python-ecology" to "python-ecology-lesson", which is _part of_ the cause for the broken link.

The other part of the cause seems to be that, on the DataCarpentry lesson links page, [an HTTPS link](https://datacarpentry.github.io/python-ecology-lesson/) is used, and results for a timeout for me as well. Using [an HTTP link](http://datacarpentry.github.io/python-

[2016-05-09 09:23] tracykteal commented on #58
Thanks, I fixed the URL on the top of they python-ecology-lesson repo. The problem with the links from the 'lessons' website was indeed the https rather than http, so I changed it there to use http instead. I also put in a redirect from www.datacarpentry.org/python-ecology to www.datacarpentry.org/python-ecology-lesson

Hopefully that should have fixed all the links, but please re-open this issue

[2016-05-09 09:23] #58 closed

[2016-05-10 13:05] iamc commented on #10
I did write a ipython-quickstart notebook some time ago for an introduction to scientific Python and plan to use it for my next (and first :-) workshop as an instructor. I may adapt it for these lessons if you want.

https://github.com/iamc/PySS15-scientific-python-tutorial/blob/master/ipython-quickstart.ipynb

[2016-05-11 20:43] qjcg commented on #10
Hey @iamc, this looks great! It might be good to add some short challenges (ex: asking learners to create a notebook, run some cells, verify that the notebook has been saved on their system) Also, replacing references to the "IPython notebook" with "Jupyter notebook" would be a forward-looking approach, as the version shipping with anaconda prints the following warning message when `ipython notebo

[2016-05-11 21:03] iamc commented on #10
Hi @qjcg. So if you are willing to accept something on this line I'll adapt it with your suggestions and also to the lessons template, this as our workshops gets closer and time permits :-)

[2016-05-14 13:04] wrightaprilm opened #60 "Trainer checkout"
What are responsibilities @qjcg and I have when users submit trainer checkout exercises? Do we just merge these as we see fit, or do we need to tag you in/do something else, @tracykteal @gvwilson?

[2016-05-14 13:14] gvwilson commented on #60
Please drop me an email (in case the trainee didn't) and then treat as
any other change request.
Thanks,
Greg

[2016-05-14 13:16] wrightaprilm commented on #60
OK, since I have you here right now, and Tracy has already been pinged and will look: https://github.com/datacarpentry/python-ecology-lesson/pull/59

I'll close this.

[2016-05-14 13:17] #60 closed

[2016-05-14 13:22] tracykteal commented on #60
Yes, just merge if it is appropriate and useful. Either way though, let @gvwilson know that the person has submitted the exercise. We're currently revisiting this process, so will keep you posted.

[2016-05-14 22:15] qjcg commented on #10
Awesome, thanks @iamc, please do submit a PR with your adapted lesson when it's ready.

[2016-05-16 13:16] iamc commented on #10
OK, I'll do it.

[2016-05-27 14:57] qjcg opened #65 "Revise learning objectives using Bloom's Taxonomy"
Following the discussion in PR #63, we will pilot rewriting our lesson objectives with reference to [Bloom's Taxonomy](https://en.wikipedia.org/wiki/Bloom's_taxonomy).

To start, we will aim to follow the two-level grouping of objectives [suggested](https://github.com/datacarpentry/python-ecology-lesson/pull/63#issuecomment-222006439) by @ErinBecker.

PRs with revised objectives should be made aga

[2016-05-31 21:58] ErinBecker opened #67 "Add instructor notes document for this lesson"
I'm working on helping direct instructor attention towards fixing up/contributing to instructor notes. Currently don't have a link to provide for instructor notes for this lesson. Please add - even a blank document would be somewhere to point towards.

[2016-05-31 23:39] #67 closed

[2016-05-31 23:42] qjcg commented on #67
Hey Erin, please feel free to reference the (currently empty) [INSTRUCTORS.md](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/INSTRUCTORS.md) as the place to put instructor notes for this lesson.

If there's anything else you need, please don't hesitate!

[2016-05-31 23:42] ErinBecker commented on #67
Thanks John!

On Tue, May 31, 2016 at 4:42 PM, John Gosset <notifications@github.com>
wrote:

--
*Erin Becker*, PhD
Data Carpentry, Associate Director
http://www.datacarpentry.org/
Research Associate, MMG Dept., UC Davis

[2016-07-01 16:52] jdidion opened #71 "Standardize on a single code style throughout the module"
There are specific DC modules where coding style is discussed (e.g. http://www.datacarpentry.org/semester-biology/materials/style/), but it is largely ignored by most modules. I don't find this particularly concerning as there is a lot to cover and style is typically not first on the list. However, I don think that one of the ways (perhaps the best way) of learning to code is to read other peoples

[2016-07-26 19:15] ostueker opened #73 "Challenges are not always clear"
I'm just working myself through this lesson, as I haven't worked with pandas so far and I found that for most of the challenges, it is not clear to me which result is expected.

Especially for challenges that ask to generate a plot, it would be really helpful if a PNG of the desired plot would be added to the challenge.

I wanted to help adding solutions to the challenges to the `INSTRUCTORS.md` b

[2016-07-31 18:01] hugobowne commented on #36
I'd happily write and include installation instructions. They could go in [intro](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/00-short-introduction-to-Python.md) or have their own .md ?

[Here](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/index.md) it states that '[Data Carpentry] will provide instructions on setting up the required software several

[2016-08-01 15:09] tracykteal commented on #36
@amueller @hugobowne thanks for bringing this up. I see, the template that included installation instructions didn't make it over to the Python lesson. I've updated index.md and the file _includes/pythonSetup.html that includes the installation instructions in https://github.com/datacarpentry/python-ecology-lesson/pull/75

Can you check to make sure that things look and work OK? Thanks!

[2016-08-01 15:29] #36 closed

[2016-08-08 20:36] wrightaprilm commented on #73
I agree - the creation of an Instructor's Guide fell by the wayside with a lot of the Data Carpentry lessons. Since, for some of the challenges, it can be unclear what the desired output is, I think the best way forward is to make a pull requests to the guide, individually for each solution/answer. That way, we can take a look, and if there are multiple possible solutions, I (or someone else) can

[2016-08-17 20:29] cgeroux opened #79 "Output shown doesn't match actual output"
When using the command

[code]

I get the output:

[code]

Not what is shown in 01-starting-with-data of
[code]

These NaNs can be removed and the output from the current lesson can be produced with

[code]

Not sure if this behavior depends on the version of pandas, python, or anaconda:
[code]

produces:

[code]

[2016-08-23 15:47] bobtodd opened #80 "Should the "Starting with Data" lesson mention Pandas Series explicitly?"
When I was working through the "Starting with Data" lesson, I noticed the "Summary Plotting Challenge" starts with the `dict`

[code]

As far as I can see, the lesson nowhere mentions the `pd.Series` type.  For the learner the above line of code might appear pretty opaque.

In addition, under "Manipulating Our Species Survey Data", the lesson early teaches the learner to check types:

[code]

But

[2016-08-31 13:15] wrightaprilm opened #81 "Lessons 00/01 getting a little overfull"
This round of instructor training, we had a lot of interest in the first two lessons in the Python set. Which is great! But also puts us in a position where we're looking a little overfull. So the first thing I want to know is if that's true. I think @qjcg has taught through this lesson recently? How did you find 00 and 01 went? Should we have a further discussion about streamlining these, or are

[2016-09-15 09:13] hugobowne opened #83 "Check environment script"
Installation instructions were added as a result of #36 .

Would it be helpful to have a check environment script that people can run post-installation to confirm that they have it all in working order?

[2016-09-15 14:17] wrightaprilm commented on #83
This would be fantastic. Are you interested in taking that on, and if so, do you want or need a partner?

[2016-09-16 03:41] hugobowne commented on #83
I'm more than happy to take it on. I'll attempt it solo and let you know of any issues. Sound good?

[2016-09-18 19:07] MichaelConnell commented on #80
Correction: A Series is like a NumPy array in that it can only contain homogeneous data.  If you select a row from a DataFrame and it has multiple types, they will all be cast up to the single type that accommodates them all (which is usually 'object' - if there are any strings or categories).

This is true that pulling out a single row gives a Series.  Pedagogically, though, it would be preferabl

[2016-09-18 21:27] bobtodd commented on #80
Thanks for the correction, @MichaelConnell.  Sorry, in the second snippet you quoted, I should've written "column" instead of "row".  And in the first snippet, I hadn't thought about the necessity for a uniform data type.  You're totally right.  And the "dictionary of Series" perspective is a great one... thanks!

Overall, my focus was on making sure that the lesson as a whole gives the reader a f

[2016-09-22 11:21] barrachri opened #85 "Lack of requirements info, miniconda and how to lunch a Jupyter Notebook"
I was checking the lesson as a part of the "Instructor Training Checkout".
- Adding a requirements page

I see that all the requirements part is handled by installing Anaconda.

I think could be important to add a requirements page where we explain which packages you need and some information about them instead of having all this information spread around the lecture.
- Using miniconda

With Anaco

[2016-09-22 13:28] wrightaprilm commented on #83
Sorry for my late reply, sounds fine. Let me know if there's anything we can do to help.

[2016-09-22 13:36] wrightaprilm commented on #80
I missed this issue opening while I was traveling over the summer. You're right that we should explicitly address the meaning of a series. It looks like you're pretty close on having a functional definition of Series, then nesting that with DataFrame.

Or similar. So go ahead and make any last edits to the language, then open your pull request.

[2016-09-22 13:50] wrightaprilm commented on #85
- Requirements Page

I'm not inherently opposed to adding a requirements page, but the Data Carpentry pages for all lessons (R, SQL, etc) all follow a style, in which you have the Requirements head, and then a subheader explaining the software requirements. In this case, Anaconda. If you'd like to make a pull request more detail, such as listing the specific packages under that subheader, that's f

[2016-09-22 14:20] ostueker commented on #79
@cgeroux : This seems to be a known bug in pandas and has been fixed in the development version.
see: https://github.com/pydata/pandas/issues/13744

For this lesson the percentiles are not used for anything, so I don't think there is a need to change the DC material. (Though I admit the error messages that I get are somehow distracting).

[2016-09-22 19:26] ostueker opened #87 "starting-with-data: 2nd plotting example uses constructs that were not introduced"
I have several issues with these two lines of code in the **Quick & Easy Plotting ...** section in the **Staring with data** module:

[code]
1. So far it the `df.groupby()` method has only been given a single column name or a list of them. Suddenly and without explanation a whole column (`surveys_df['plot_id']`) is passed as a parameter.
2. The `.nunique()` method has not been introduced.
3. So fa

[2016-09-22 20:56] ostueker commented on #87
Actually introducing `.nunique()` right after `.unique()` makes the next challenge obsolete.

Also using `len()` or `.size` gives a different answer than `.nunique()` as the former two count NaN but the latter doesn't:
[code]

[2016-09-23 02:16] gvwilson commented on #85
Once we switch to the new lesson template, there'll be a `setup.md` page for all of this - @barrachri, if you'd like to create a page with that name now submit a PR with some of these points in it, that would be a great start.

[2016-09-23 12:46] barrachri commented on #85
So I will open 3 new issues:

* to add a new setup.md
* Use miniconda and install packages
* Launch a Jupyter notebook plus check installation

After I will open them I will close this one.

[2016-09-23 13:04] wrightaprilm commented on #85
In re: bullet 3, Hugo Bowne is working on checking installs in #83. If you wouldn't mind working with him on whatever you had in mind for checking installation, that would be great.

For the miniconda stuff, why don't you put that straight into the new setup.md.  Since the template isn't 'live' yet, if we have some kinks to work out in terms of making miniconda seem accessible to new learners, we'

[2016-09-23 13:16] barrachri commented on #83
Hi Hugo, do you have any idea how to do this ?

[2016-09-23 13:21] hugobowne commented on #83
@wrightaprilm  yes, I do. I'm currently writing a check_env.py and some instructions on running it to to include [here](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/_includes/setup.html). I plan to have something to you over the weekend

[2016-09-23 13:28] hugobowne commented on #83
@wrightaprilm i plan to issue a PR with a check_env.py file. Can include it in a subdir here? https://github.com/datacarpentry/python-ecology-lesson/tree/gh-pages/_includes

Also, fine for me to add instructions on running it here? https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/_includes/setup.html

[2016-09-23 20:16] qjcg commented on #85
Looks good to me @wrightaprilm, and thanks for proposing this @barrachri ! I'd agree with April that you don't necessarily need to open a corresponding issue for each PR.

[2016-09-25 09:02] barrachri commented on #85
I created the PR for these 3 points :)

[2016-09-25 16:52] hugobowne commented on #83
@wrightaprilm PR issued. As stated in [PR](https://github.com/datacarpentry/python-ecology-lesson/pull/90/), I have

- added a check_env.py in dir _includes/scripts
- edited pythonSetup.html to give instructions on running it.

check_env.py checks, in the following order, whether:

- anaconda is installed as default;
- the system is running python3;
- ['numpy', 'matplotlib','pandas', 'jupyter'] ar

[2016-09-25 17:13] hugobowne commented on #83
Oooooo I have now seen this [PR](https://github.com/datacarpentry/python-ecology-lesson/pull/89), in which @barrachri provides instructions for both Anaconda & miniconda. I like it!

[2016-09-27 20:20] barrachri opened #91 "No schedule in the lesson"
I was checking the lesson for the schedule, but I didn't find it.

Is there a plan to add it ?

[2016-10-18 00:49] itcarroll commented on #44
I believe @qjcg meant to close this issue with pull request #78.

[2016-10-18 01:45] itcarroll opened #92 "Missing js and img assets"
Note, this applies to all of the *-ecology-lessons. I cannot tell where the origin of the shared files (_layouts, etc.) is though, so I'm raising the issue here for now.

If you look at the browser JS console on loading datacarpentry.github.io/python-ecology-lesson, there are three resources not found:
http://www.datacarpentry.org/python-ecology-lesson/js/jquery-1.9.1.min.js
http://www.datacarpent

[2016-10-21 16:41] wrightaprilm commented on #91
Sorry I'm so late getting back on this. When you say schedule, do you mean in the sense of [the SWC lessons?](http://swcarpentry.github.io/python-novice-inflammation/)

[2016-10-24 08:04] philippbayer commented on #79
I've run into this issue today but the fix has made it out of development and into release, after ```pip install -U pandas``` 0.19.0 shows the expected behaviour again so I think this issue can be closed (or maybe add a note for those still using 0.18.1? I expect to see this pop up in the workshop tomorrow)

[2016-10-24 12:36] qjcg commented on #79
Thanks for pointing this out @cgeroux and for the follow-up @ostueker and @philippbayer.

Closing this issue, as learners following our current setup instructions will end up installing pandas >= 0.19.0, and so will not encounter the bug.

[2016-10-24 12:36] #79 closed

[2016-10-25 15:35] barrachri commented on #91
Hi, yes, as the swc lessons.

[2016-10-25 21:06] wrightaprilm commented on #91
The Python DC lessons don't get run all that often. I might run them in Feb, but mostly use them for onboarding undergraduates, which is somewhat of a structureless activity. We don't have a great sense of how long the materials actually take to get through, so we don't have a real basis to provide those estimates. Sometime soon, a series of blog posts should go up on why we teach what we teach. I

[2016-10-26 09:28] barrachri commented on #91
I see, I will follow the discussion :)

[2016-11-08 20:03] mjones01 opened #93 "Broken Link: Setting Up Python"
In the [Setting Up Python section](http://www.datacarpentry.org/python-ecology-lesson/#setting-up-python), where it says "Here you can find a python script check_env.py".
The hyperlink to `check_env.py` is broken (http://www.datacarpentry.org/python-ecology-lesson/scripts/check_env.py).

The file is now in _includes/scripts/ .

[2016-11-13 23:24] wrightaprilm commented on #93
Accurate! Are you making a note of this as part of instructor training (i.e., declaring an intention to fix), or do you need me to tackle it?

[2016-11-14 16:34] mjones01 commented on #93
@wrightaprilm  Sorry for not being clear. I'm not sure the correct way to link to it now that it is in the _includes/ folder. I attempted to fix the link but was unsuccessful.  It would be wonderful if you would.

[2016-11-15 14:39] wrightaprilm commented on #93
Oh, no problem, GitHub issues tracking is phenomenal, but when different audiences use it for different things, it can get a little hairy.

Anyway, it looks like it's a conflict between how the site builds and the directory layout of the materials. I'll get it figured out.

[2016-11-16 01:12] wrightaprilm commented on #93
OK, so here's what I did on this:

I looked at the way we have this set up. Data Carpentry workshops don't necessarily do git, and learners haven't always executed a command line program, nor do they necessarily know how to navigate the directory structure. I think we've jumped in at too high a level on that page. So I moved the instructions for this into the instructors guide, and am leaving it u

[2016-11-16 18:22] mjones01 commented on #93
I agree that it might be too high for some users and a direct link from a workshop page would probably work. As long as the script is mentioned in the INSTRUCTORS.md file (as it currently is) instructors will know that it is available.  This does however preclude users from checking for correct installation prior to a workshop.  Perhaps on the INSTRUCTOR.md file, you can add something like, "As an

[2016-11-29 18:24] tomhohenstein commented on #81
Hello!

Are you still looking into trimming lessons 00/01? I'm going through the  instructor training checklist and am willing to help. I also noticed that lesson 00 does not have learning objectives (I'd be happy to add that)

[2016-11-30 01:00] wrightaprilm commented on #81
We are still interested in doing that, and would greatly appreciate the help. If you're interested in the issue to learning objectives, we have a separate branch for re-organizing them into Bloom's Taxonomy (suggested by @ErinBecker in #65). That's been a little stalled, for various reasons, but you're absolutely welcome to have a crack at it.

[2016-12-04 04:49] djinnome commented on #10
Hi folks,

  The markdown files in this tutorial can be automagically converted to Jupyter notebooks using  `notedown` . Would folks be interested in a PR that consists of a script that downloads `notedown` and converts these lessons to Jupyter notebook?

[2016-12-06 07:29] djinnome opened #97 "Strings, integers and floats and booleans"
Hi folks,

   It is kind of a minor issue, but it might cause confusion in our students if we introduce 3 data types and then use a fourth in our [short introduction to python](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/00-short-introduction-to-Python.md).   Therefore, we might as well introduce the Boolean data type at the same time as we introduce Strings, integers, and

[2016-12-09 14:15] jarmokivekas opened #99 "No images of plots in 06-plotting-with-matplotlib"
I noticed that lesson [06-plotting-with-matplotlib](http://www.datacarpentry.org/python-ecology-lesson/06-plotting-with-matplotlib) does not include any images of the plots that would be created by the various bits of example code. Is this a design decision, or have the images just not been created? I'd be willing to create python script that created example plot, and link those into the lesson's

[2016-12-09 15:49] wrightaprilm commented on #97
Good catch. The trick here is that we introduce types before we introduce operators. I split the difference a bit and mentioned in the operators block that the return type of those statements is a bool. What do you think of that approach (the change is now pushed to 00, if you'd like to view)?

[2016-12-10 15:39] qjcg commented on #10
Sure @djinnome, if you have a proof of concept script to submit, please do send along a PR!

[2016-12-18 02:10] djinnome commented on #10
Hi @qjcg,

   Sure, the pull request is [Port from R to python of Lesson 05 Data visualization with ggplot2](https://github.com/datacarpentry/python-ecology-lesson/pull/96).

 In this PR, I converted the R ecology lesson from markdown to a Jupyter notebook that executes correctly using an R kernel, and then ported the Jupyter notebook that executes correctly using a python kernel.   I then convert

[2016-12-23 18:47] weiapplele opened #122 "05-loops-and-functions.md contains confusing text explanations"
1.  "If a local variable has the same name as a variable somewhere else in the code, the local variable hides but doesn't overwrite the other."
-- "a variable somewhere else in the code" means global variables or local variables in other functions?

2.  "The line defining the loop must start with `for`"
-- in python, we can also define while loops, a better way: "Here, the line defining the loop s

[2016-12-28 16:47] wrightaprilm commented on #99
Hi @jarmokivekas -

Closing this, as we've revamped the lesson. Thanks for participating in the discussion with us!

[2016-12-28 16:47] #99 closed

[2016-12-28 16:48] wrightaprilm commented on #122
Great! Would you like to open a pull request with the changes, or would you like me to do it? I noticed that this has an instructor training tag, which means you have to, I think, but I'm happy to help you do that.

[2016-12-28 18:02] djinnome commented on #97
Hi @wrightaprilm

That works for me.  Thanks for the fix.

[2016-12-28 18:02] #97 closed

[2016-12-28 18:17] djinnome opened #123 "Update the front page"
The [front page](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/index.md) has a broken link to the [deprecated matplotlib](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/06-plotting-with-matplotlib) lesson.  Update link to [new ggplot lesson](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/06-visualization-ggplot-python.md).

[2016-12-28 18:38] djinnome commented on #123
Actually, the autogenerate [html version of the new ggplot lesson](http://www.datacarpentry.org/python-ecology-lesson/06-visualization-ggplot-python.html) looks terrible.

[2016-12-28 18:39] wrightaprilm commented on #123
Hahaha, jeez. This I might actually take a peek at after my kid goes to bed tonight. That's remarkably awful.

[2016-12-28 20:47] tracykteal commented on #123
We're having a somewhat related conversation in the R-ecology repo about a 'dev' branch where we can see formatting before it goes live.

https://github.com/datacarpentry/R-ecology-lesson/issues/154

Agree this is a priority to fix. I've been working on templating on some other lessons today, so I'll see if I can put in a PR.

[2016-12-28 21:45] weiapplele commented on #122
Hey, April,

Thanks for getting back to me. I can create a pull request!

On Wed, Dec 28, 2016 at 10:48 AM, April Wright <notifications@github.com>
wrote:

[2016-12-29 21:52] ctb commented on #123
See #124.

[2016-12-30 14:09] ctb commented on #92
when looking at #123 and using `bundle exec jekyll serve` to serve the site, I saw the following errors:

[code]

so that's another way to detect missing files ;).

[2016-12-30 14:13] ctb commented on #92
I used `git grep` to find the location of the references --

[code]

It doesn't *seem* like JQuery is used anywhere on the site, and in any case if it's being used I'm guessing the site isn't obviously broken, so I am guessing that it can be removed cleanly. I'm not sure where `_layouts/bootcamp.html` and `_layouts/lesson.html` came from but that's where `javascript.html` is referenced:

[code]

E

[2016-12-30 17:19] wrightaprilm commented on #92
That sounds great, @ctb. Cleaning up missing assets and deprecated things has been on my to-do list, but I keep getting side-tracked with all the awesome updates our contributors  have been submitting :)

[2016-12-30 17:47] ctb commented on #92
We do still need to find `main_shadow.png`, or otherwise figure out how to update the styles - I'm not sure we should just remove it (?).

[2016-12-30 17:50] ctb commented on #92
See #125. I'd prefer to do @itcarroll's suggestion of updating from a central styles location tho - is that https://github.com/swcarpentry/styles?

[2016-12-30 17:54] wrightaprilm commented on #92
I think it is, and I agree. I took a look at my Jan-Feb schedule and shorted out, so I'm vanishing for the weekend. If no one else gets around to it, I'll look into centralizing it when I'm back Monday.

[2016-12-30 17:55] ctb commented on #92
On Fri, Dec 30, 2016 at 09:54:04AM -0800, April Wright wrote:

heh, have a good weekend :)

[2016-12-30 18:03] ctb commented on #92
See #126 for an initial attempt.

[2017-01-02 15:44] mkuzak opened #127 "Add description on how to install python ggplot."

[2017-01-02 15:54] mkuzak commented on #123
The matplotlib lesson link have been removed and ggplot lesson link updated. I think we can close this one @djinnome

[2017-01-02 17:44] #123 closed

[2017-01-02 17:45] wrightaprilm commented on #122
Great. Just so you're aware, we are publishing a new edition of the lessons on Jan. 6. If you're able to make the pull request before then, this will be in. If not, that's fine, too.

[2017-01-02 22:54] #127 closed

[2017-01-03 09:44] mkuzak commented on #93
We can also link to [raw version of the file](https://raw.githubusercontent.com/datacarpentry/python-ecology-lesson/gh-pages/_includes/scripts/check_env.py) on GitHub. This will make it easier to download.

[2017-01-03 10:17] mkuzak commented on #83
@hugobowne can you confirm that the issue have been solved with your pull request #90 ?

[2017-01-03 10:22] mkuzak commented on #85
@barrachri I think this issue have been solved in your pull request #89
if so, we can close this issue

[2017-01-03 13:43] barrachri commented on #85
closed !

[2017-01-03 13:43] #85 closed

[2017-01-03 15:11] #26 closed

[2017-01-03 15:42] hugobowne commented on #83
@mkuzak confirmed, thanks.

[2017-01-03 15:43] mkuzak commented on #83
@hugobowne thanks :)

[2017-01-03 15:43] #83 closed

[2017-01-03 15:51] mkuzak commented on #30
I agree it does hold for Anaconda distribution, which is default for DC but not necessarily standard for Python.
I'm curious what others think, I'm not against removing it. I think "general purpose" or "all around" may better describe Python as a programming language.

[2017-01-03 15:59] ctb commented on #30
+0 for "general purpose" over "batteries included."

[2017-01-03 16:00] qjcg commented on #30
I'd go with "general purpose" as well.

[2017-01-03 17:48] mkuzak commented on #71
Fixed by #131

[2017-01-03 17:48] #71 closed

[2017-01-04 19:50] kariljordan opened #132 "Which learning objectives should we assess?"
Greetings everyone,

I'd appreciate your feedback on my current project. We've successfully revised the learning objectives for all of the Ecology lessons to reflect what we are teaching, and now we are in the process of developing surveys to assess our learners (before and after the workshop) on their skills and self-efficacy for the tools they were taught.

Your feedback is extremely valuable. I

[2017-01-08 00:53] hugobowne commented on #30
"general purpose" is great. I am also fine with "batteries included", if the full anaconda distribution is referenced explicitly, which currently is great practice for beginners :)

[2017-01-08 00:58] hugobowne commented on #24
I am going through this lesson in some detail and have noticed that the [Plotting with ggplot lesson](http://www.datacarpentry.org/python-ecology-lesson/06-visualization-ggplot-python) makes use of a dataset 'surveys_complete.csv', which is in a different directory. is there a reason for this? if not, it makes sense to put them all together.

[2017-01-08 09:36] mkuzak commented on #24
I'm in favour of moving it to `data` directory, where other date files are located. @djinnome you contributed the lesson, can you comment on that?

[2017-01-08 13:36] #30 closed

[2017-01-08 13:57] qjcg commented on #5
Closing, as CONTRIBUTORS.md now appears up to date.

[2017-01-08 13:57] #5 closed

[2017-01-08 14:21] qjcg commented on #56
Closing, this will be addressed on an ongoing basis.

[2017-01-08 14:21] #56 closed

[2017-01-08 14:51] qjcg commented on #92
This issue appears to be fixed following #130.

[2017-01-08 14:51] #92 closed

[2017-01-08 22:14] qjcg opened #134 "Integration with the new lesson template should be improved"
Happy 2017 everybody!

New year, [new lesson template](https://github.com/swcarpentry/styles), and I've started work on improving our lesson's integration with that template in the [new-template-improvements] branch, following the [example lesson guidelines](http://swcarpentry.github.io/lesson-example/).

You can see the current state rendered [here](https://qjcg.github.io/python-ecology-lesson),

[2017-01-10 17:28] kariljordan commented on #132
Greetings,

Thank you for contributing to the conversation around Data Carpentry's Ecology lessons, and providing your availability for a meeting.

We will meet on Friday at 1pm EST via this BlueJeans link: https://bluejeans.com/124388012.

The purpose of this meeting is to discuss the learning objectives for the Ecology lessons, and to come to a consensus around which objectives are "most importa

[2017-01-16 12:18] iaine opened #136 "Broken Link: Setup link"
In the[ Schedule](http://www.datacarpentry.org/python-ecology-lesson/#schedule) section, the set up link is broken and returns a 404 page. This appears to be a generic part of the template from a Data Carpentry. As the set up information is above the schedule, can this link be removed or retargeted to the[ appropriate name anchor](http://www.datacarpentry.org/python-ecology-lesson/#setting-up-pyth

[2017-01-16 12:50] qjcg commented on #136
Hello, thanks for this! This has now been [fixed](https://github.com/datacarpentry/python-ecology-lesson/commit/f5478cde5cfdf7f245a5ee1358b1ceace9837816), so closing this issue.

[2017-01-16 12:50] #136 closed

[2017-01-16 12:52] qjcg opened #138 "Add timing estimates to each episode"

[2017-01-16 12:52] qjcg opened #139 "Bug BBQ: Add key points to each episode"

[2017-01-16 12:52] qjcg opened #140 "Add motivating questions to each episode"

[2017-01-16 12:54] qjcg commented on #134
Merged initial work, spit remaining work into individial issues, so closing this.

[2017-01-16 12:54] #134 closed

[2017-01-24 15:07] jethrojohnson opened #143 "Expand overview of functions in 01-short-introduction-to-Python"
Currently built-in functions are used without introduction, then the lesson jumps to user-defined functions.

I'm aware that capacity within lessons is limited, but I wonder if it would be helpful to alter the final section (## Functions) so that it minimally explains i)  the key concepts of a function, ii)  that we have already been using functions (print, dir, help) that are built-ins, iii)  and

[2017-02-22 17:45] kariljordan commented on #132
We received great feedback and were able to decide which objectives to assess.

[2017-02-22 17:45] #132 closed

[2017-02-22 17:49] kariljordan opened #144 "Help us develop R/Python MCQ's for our assessment"
We had overwhelmingly productive feedback regarding our [issue](https://github.com/datacarpentry/python-ecology-lesson/issues/132) on which learning objectives to assess in our lessons. Because of you we were able to develop new and improved pre and post workshop surveys that we plan to pilot in our workshops this Spring.

In our new surveys we plan to ask 10 multiple choice questions (MCQ's) that

[2017-02-24 14:36] kariljordan commented on #144
The poll for our meeting next week has been updated for the EST timezone. Please have a look and update your availability.

http://whenisgood.net/mcq

[2017-02-27 17:44] kariljordan commented on #144
We'll meet Wednesday, March 1st at 12pm EST
http://www.bluejeans.com/Kari.Jordan

[2017-03-16 18:05] wrightaprilm opened #147 "Check variables"
Thank you for filing an issue!

These lessons are being prepared for publication. From March 15, 2017 to April 21, 2017 issues related to [lesson release preparations](https://github.com/datacarpentry/lesson-release/blob/master/release-checklist.md) are particularly appreciated.

During Bug BBQ, we could really use for someone to walk through the materials and make sure variables are named consist

[2017-03-16 18:06] wrightaprilm opened #148 "Check input and output filenames and paths"
Bug BBQ:

Check paths and names of files used as input and that learners are directed appropriately to output paths and files.

**Level:** Beginner.

Thank you for filing an issue!

These lessons are being prepared for publication. From March 15, 2017 to April 21, 2017 issues related to [lesson release preparations](https://github.com/datacarpentry/lesson-release/blob/master/release-checklist.md)

[2017-03-16 21:14] wrightaprilm opened #149 "Instructors guide"
- [x] Add info on the jupyter NB
- [x] Check for currency with
     - [x] names (variables, vectors, etc)
    - [x] file i/o paths

Thank you for filing an issue!

These lessons are being prepared for publication. From March 15, 2017 to April 21, 2017 issues related to [lesson release preparations](https://github.com/datacarpentry/lesson-release/blob/master/release-checklist.md) are particularly a

[2017-03-16 22:24] tmorrell opened #150 "Jupyter setup instructions"
Include basis instructions for setting up a new Jupyter notebook in setup.md or modify the beginning of lesson 00 to introduce the very basics of working in a jupyter notebook.  At the moment there is a bit of a gap between the end of setup and the beginning of lesson 00

Perhaps get inspiration from https://github.com/swcarpentry/python-novice-gapminder/blob/gh-pages/_episodes/01-run-quit.md

May

[2017-03-16 22:36] tmorrell opened #151 "Define questions"
Define questions for lessons 01-08

[2017-03-16 22:38] #151 closed

[2017-03-16 22:39] tmorrell commented on #140
Needed for lessons 01-08

[2017-03-16 22:52] tmorrell opened #152 "Move content to extras directory"
Move content like instructors guide to extras directory so it shows up in site menu

[2017-03-16 23:08] tmorrell opened #153 "dataframe.describe() bug"
Add to instructors notes that pandas .18.1 (and maybe others) has a bug where

surveys_df['weight'].describe() in lesson 01 returns

RuntimeWarning: Invalid value encountered in percentile
count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%               NaN
50%               NaN
75%               NaN
max        280.000000

because of the Nan values in the f

[2017-03-16 23:30] proccaserra opened #154 "dataFrame methods or attributes?"
In https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/_episodes/01-starting-with-data.md

in section "Useful Ways to View DataFrame objects in Python", the material refers to 'dataFrame methods' to identify calls allowing to obtain properties/information on a dataframe, such as 'tail', 'head', 'size'. However Pandas documentation [http://pandas.pydata.org/pandas-docs/stable/gener

[2017-03-17 16:35] tmorrell opened #155 "Format challenge questions"
With the new template, challenge questions (and solutions) can be placed in nicely formatted boxes using:

[code]

The formatted questions look like:

<img width="506" alt="challengeq" src="https://cloud.githubusercontent.com/assets/10798874/24052987/af8d5d6e-0af4-11e7-9aad-5c9215b976a0.png">

[2017-03-17 17:36] tmorrell opened #156 "Add print statements"
Add print lines where results are displayed.  Sections found so far (new text in bold):

_**01**_

Quickly Creating Summary Counts in Pandas
Let’s next count the number of samples for each species. We can do this in a few ways, but we’ll use groupby combined with a count() method.

count the number of samples by species
species_counts = surveys_df.groupby('species_id')['record_id'].count()
**print

[2017-03-17 17:52] tmorrell opened #157 "Update plot image"
Update summary plot image in 01 to remove extra values in key
<img width="621" alt="finalplot" src="https://cloud.githubusercontent.com/assets/10798874/24056141/ccac977e-0aff-11e7-94b1-65462a602bd8.png">

[2017-03-17 17:53] tmorrell opened #158 "Reference link is broken"
Reference link is broken

[2017-03-17 18:18] tmorrell opened #159 "02 lesson cleanup"
Change order of questions to make more sense

Challenges
What value does the code below return? a[0]
How about this: a[5]
**In the example above, calling a[5] returns an error. Why is that?
What about? a[len(a)]**

Remove repeated command (italics)

_select the first, second and third rows from the surveys variable
surveys_df[0:3]_
select the first 5 rows (rows 0,1,2,3,4)
surveys_df[:5]
select the

[2017-03-17 18:27] tmorrell opened #160 "02 copy example"
Adjust text to suggest that the first copy attempt won't work

We can also reassign values within subsets of our DataFrame. But before we do that, let’s _try to _ make a copy of our DataFrame so as not to modify our original imported data.

[code]

[code]

_At the end of the next section, repeat example code that shows a successful copy_

[code]

[2017-03-17 18:33] tmorrell opened #161 "02 challenge questions"
These challenge questions

Challenge Activities
What happens when you type:
surveys_df[0:3]
surveys_df[:5]
surveys_df[-1:]
What happens when you call:
dat.iloc[0:4, 1:4]
dat.loc[0:4, 1:4]
How are the two commands different?

Are the exact same as the examples provided in the lesson

[2017-03-17 19:50] tmorrell opened #163 "03 challenge questions and solution"
03 Has only one challenge question at the very end, and the solution to this question is not present in the instructor guide.

[2017-03-24 14:31] #144 closed

[2017-03-31 16:48] omsai opened #164 "[Setup] ggplot fails to install from conda-forge using python 3.6 / Anaconda 4.3.1"
It looks like ggplot is only compatible with python 3.4 and not 3.6?

On March 30, 2017, a user reported installing the Python ggplot package fails to install using conda-forge.  Below was their report:

[code]

Sandeep Namburi confirmed this is the case for both macOS and GNU/Linux and suspects it may also impact Windows.

As a workaround for getting attendees setup for the workshop, in some case

[2017-03-31 22:05] omsai commented on #164
It turns out conda supports [other python versions](https://conda.io/docs/py2or3.html).  One can create a environment with an older python 3.4 as follows:

[code]

Will update the [configuration problems and solutions page](https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions)

[2017-03-31 22:05] #164 closed

[2017-04-05 21:45] tracykteal commented on #148
For this issue, someone should run the code in the lesson to make sure the paths work.

[2017-04-05 21:58] tracykteal commented on #93
Linking to the raw file is probably the best solution. It is a good idea to still have it there for self-guided learning as @mjones01 says.

Adding a note that it's optional if you have access to a command line program is probably also useful.

[2017-04-05 22:01] tracykteal commented on #91
Thanks @barrachri for this point. There is now an order of the lessons on the main page (http://www.datacarpentry.org/python-ecology-lesson/) and issue https://github.com/datacarpentry/python-ecology-lesson/issues/138 is for adding timing to the lessons, so that will create the schedule.

So, I'm going to close this issue and point to the specific one about adding timing.

[2017-04-05 22:02] tracykteal commented on #138
Also related to the schedule in https://github.com/datacarpentry/python-ecology-lesson/issues/91

Adding timing will create a schedule.

[2017-04-05 22:02] #91 closed

[2017-04-05 22:07] tracykteal commented on #73
The challenge solutions are now in the instructors guide. Hooray! Is there more to do here though?

[2017-04-05 22:08] tracykteal commented on #65
@kariljordan @ErinBecker I think this is done for these lessons now?

[2017-04-05 22:09] tracykteal commented on #44
It has been addressed, so I'll close this.

[2017-04-05 22:09] #44 closed

[2017-04-05 22:11] tracykteal commented on #24
@wrightaprilm @qjcg do you know if where the data is has been addressed now that things are in FigShare?

[2017-04-05 22:14] tracykteal commented on #20
There are now other options for this, like

Try Juypter: https://try.jupyter.org
Azure Notebooks: https://notebooks.azure.com

I think there's one more too.

It would be good to add to the instructor notes these options. Also, we would need to check how people can load data into these online notebooks.

[2017-04-05 22:16] #65 closed

[2017-04-05 22:17] tracykteal commented on #10
It looks like there's still not an 'introduction to the Jupyter notebook' section. It would be useful to have.

[2017-04-06 16:47] nickynicolson commented on #154
Addressed with PR #165  but didn't change terminology re `columns` - it is referred to as a parameter in the pandas documentation in the context of DataFrame creation, rather than how it is used in the lesson.

[2017-04-06 17:14] willingc commented on #150
I'll send a PR for this one.

[2017-04-06 19:00] maneesha commented on #158
Which specific lesson/section does this issue refer to?

[2017-04-06 19:04] tmorrell commented on #158
It's one of the header links in the template, so it's in all the lessons.  http://www.datacarpentry.org/python-ecology-lesson/reference/

[2017-04-06 19:48] tracykteal opened #168 "code blocks in _extras/guide.md"
I moved the INSTRUCTORS.md file to _extras/guide.md, but it seems like code blocks may not be rendering correctly.

Need to fix code blocks in _extras/guide.md

[2017-04-06 20:57] willingc commented on #93
I'll do a quick pr for this one.

[2017-04-06 21:45] willingc commented on #168
This looks pretty good to me. Do you want to check again and let me know where the code isn't rendering correctly or close? @tracykteal

[2017-04-06 23:40] willingc commented on #160
I'm working on this issue.

[2017-04-06 23:41] willingc commented on #161
I'm working on this issue along with #160

[2017-04-06 23:50] #150 closed

[2017-04-06 23:53] #143 closed

[2017-04-06 23:59] #93 closed

[2017-04-07 00:01] #157 closed

[2017-04-07 00:34] wrightaprilm commented on #168
It also looks fine to me.

[2017-04-07 01:34] willingc commented on #154
@wrightaprilm I believe @nickynicolson resolved this PR #165 including columns in the context of how it used. Recommend closing this issue.

[2017-04-07 01:36] wrightaprilm commented on #154
Good catch.

[2017-04-07 01:36] #154 closed

[2017-04-07 01:36] willingc commented on #168
@wrightaprilm Why don't you close and we can always reopen if something comes up later.

[2017-04-07 01:38] #10 closed

[2017-04-07 01:39] wrightaprilm commented on #73
I believe #171 and #162 close these. Thanks to @tmorrell

[2017-04-07 01:39] #73 closed

[2017-04-07 01:40] wrightaprilm commented on #168
Sounds fair to me.

[2017-04-07 01:40] #168 closed

[2017-04-07 01:46] #155 closed

[2017-04-07 15:06] tmorrell opened #174 "06 .md formatting and tables"
Episode 6 has extra blank lines and odd table formatting.  It looks like the markdown file was transformed from the jupyter notebook version.  Are we treating the markdown version of the file as the official course content?

Also, I think we can delete 06-visualization-ggplot-R.ipynb

[2017-04-07 16:00] willingc commented on #20
One could also use: [Sage Math Cloud](https://cloud.sagemath.com/settings).

[2017-04-07 16:03] willingc commented on #24
@tracykteal This looks like it can be closed since the Data section on the main page http://www.datacarpentry.org/python-ecology-lesson/ looks complete with download links for CSV files and FigShare source.

[2017-04-07 16:08] willingc commented on #37
@tracykteal I recommend closing this issue too. Lesson 7 adds a number of plots and the challenge exercise at the end links to the excellent (recently update) [matplotlib docs on plot types](http://matplotlib.org/users/screenshots.html)

[2017-04-07 16:14] willingc commented on #80
@wrightaprilm @tracykteal Let's go ahead and close this issue. [Lesson 1 on Starting with Data](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/_episodes/01-starting-with-data.md) now focuses on pandas so the original issue no longer pertains.

[2017-04-07 16:15] wrightaprilm commented on #80
Agreed.

[2017-04-07 16:15] #80 closed

[2017-04-07 16:16] wrightaprilm commented on #81
Since #169 is merged, I'm going to close this.

[2017-04-07 16:16] #81 closed

[2017-04-07 16:17] wrightaprilm commented on #24
Fixed. Closing.

[2017-04-07 16:17] #24 closed

[2017-04-07 16:30] wrightaprilm commented on #152
Looks like this is handled.

[2017-04-07 16:30] #152 closed

[2017-04-07 16:38] wrightaprilm commented on #174
It was transformed from the ipynb. We are treating the Md as the course content, since the website renders from it, the notebook is mostly there in case instructors want to use it for purposes of visualizations, since the commands get quite long.

I think what I might do is cut down the length of the tables. Would that handle the issue here?

[2017-04-07 16:41] tmorrell commented on #174
Yup.  I can also try to convert the tables to markdown styling if you'd like.

[2017-04-07 16:46] tmorrell commented on #158
Was fixed in one of the recent PRs

[2017-04-07 16:46] #158 closed

[2017-04-07 16:48] #156 closed

[2017-04-07 17:18] wrightaprilm commented on #153
Fixed with c4c7515.

[2017-04-07 17:18] #153 closed

[2017-04-07 17:21] #160 closed

[2017-04-07 17:38] #161 closed

[2017-04-07 17:41] willingc commented on #122
I'll take a look at this issue.

[2017-04-07 17:52] qjcg commented on #122
I think this issue was followed up with #142 . Some changes have been requested, but nothing merged yet.

[2017-04-07 18:03] willingc commented on #122
Thanks @qjcg. Good catch. I'll move on to another issue :cake:

[2017-04-07 18:08] #159 closed

[2017-04-07 18:14] qjcg commented on #122
Sounds good @willingc . In fact, I think we can go ahead and close this issue, since the changes to be addressed are being discussed in #142.

[2017-04-07 18:14] #122 closed

[2017-04-07 18:58] wrightaprilm commented on #148
I think I have caught all the I/O issues.

[2017-04-07 18:58] #148 closed

[2017-04-07 18:59] wrightaprilm commented on #174
OK, I truncated those tables. Take a look at them when you have a chance?

[2017-04-07 18:59] wrightaprilm commented on #147
I think I have caught all the name inconsistencies.

[2017-04-07 18:59] #147 closed

[2017-04-07 19:21] wrightaprilm commented on #149
Looks fine for now, but will leave open pending further exercise changes.

[2017-04-07 19:36] wrightaprilm commented on #37
I agree, and had meant to close this when we merged the new lesson 7.

[2017-04-07 19:36] #37 closed

[2017-04-12 17:01] #87 closed

[2017-04-12 17:02] #174 closed

[2017-04-12 17:28] wrightaprilm commented on #163
Added an additional challenge and added answers to guide in 7966173.

[2017-04-12 17:28] #163 closed

[2017-04-19 12:10] qjcg commented on #140
Completed via #178, closing.

[2017-04-19 12:10] #140 closed

[2017-04-22 00:03] tmorrell commented on #138
I'm teaching this lesson next week and will provide my timing as a starting point.

[2017-04-22 00:12] tracykteal commented on #138
Great, thank you! That will be really helpful.

[2017-04-22 00:13] tracykteal commented on #138
Any other feedback would be welcome too. We won't change things too much before release next week, but if things could be reordered, expanded or reduced, we can take that on after the release for the next version.

[2017-04-22 00:15] tmorrell commented on #138
Will do!

[2017-04-25 22:07] tracykteal commented on #138
I added initial estimates reading through the lessons.

https://github.com/datacarpentry/python-ecology-lesson/pull/183

 It will be good to know how that matches with teaching time. Also, from just these estimates, it looks like there's too much to teach in one day (a morning session + an afternoon session). I'll create another issue where we can discuss if there's too much to teach, and if so, w

[2017-04-25 22:12] tracykteal commented on #139
This is important, but also needs to be done by someone who has a good understanding of each episode. Since the questions and objectives are already listed, I'm going to make this a post lesson release update. We should make sure to come back to it.

[2017-04-25 22:34] qjcg commented on #138
Closed by #183.

[2017-04-25 22:34] #138 closed

[2017-04-28 21:33] tmorrell opened #187 "More resilient install instructions"
We should develop more resilient install instructions.  When anaconda updated to python3.6, ggplot became unavailable.  We should point learners to a specific version of software that is known to work, and then update that version after testing.

This might be related to ongoing discussions with how best to manage installation in Software Carpentry.  This conda-based option looks promising: https:

[2017-05-05 20:58] nerdcommander opened #190 "Challenge Statistics nunique() error"
in the "Challenge - Statistics" section, item #2 asks "What is the difference between len(plot_names) and plot_names.nunique()?"

I'm assuming that the point is to demonstrate that there is often more than one way to accomplish this (and most tasks) in Python and programming.

the potential problem here is that  the variable `plot_names` contains an array, and the `nunique()` method does not work

[2017-06-01 20:33] ErinBecker opened #193 "consistency in explaining operators"
Submitted by email as part of instructor training checkout--

Good day

Thank you for the recent instructor training workshop. As contribution to a lesson, I would suggest consistency of how one presents the material. For example, under http://www.datacarpentry.org/python-ecology-lesson/00-short-introduction-to-Python/, "Operators", to either have the explanation next to the operators or as commen

[2017-06-08 18:23] #193 closed

[2017-07-07 17:00] mikeschwendy opened #196 "/data folder, speciesSubset.csv, and portal_mammals.sqlite"
Several of the lessons allude to a /data subfolder containing the surveys.csv and species.csv, but this is not part of the setup.  Moreover, the Combining DataFrames lesson assumes a file named speciesSubset.csv and the sqlite lesson assumes a file called portal_mammals.sqlite, which I could not find reference to in the setup.

By the Data workflows lesson, it appears that the data folder should h

[2017-07-07 19:25] #196 closed

[2017-07-07 19:27] wrightaprilm commented on #196
I went ahead and added these to the setup, thanks for spotting this!

[2017-07-08 00:52] raynamharris opened #197 "tool for creating parson's problems"
On of our instructor's in training, @pllim, developed a really cool python script for creating parson's problems. You input a few lines of python code, and the output is a scrambled block of code with the indentation removed. This could be a really nice thing to use for creating challenges!

https://github.com/pllim/playpen/blob/master/scramble_codes.py

(Cross posted at swcarpentry/python-novice-

[2017-07-08 21:11] pllim commented on #197
Thanks, Rayna! Also see ErinBecker/instructor-training-reorg#33

[2017-07-17 19:53] yeemey opened #200 "Character data type in Episode 03"
In the episode on data types and format, the data type for strings is referred to as "character." It would be more consistent with the [Python docs](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str) to rename this as text or text sequence data type. It will also be less confusing, given the introductory sentence of the "Character data type" section:

[2017-07-18 18:34] wrightaprilm commented on #200
Sure thing. Is this for instructor training checkout (i.e., are you going to submit a pull request making this change, or would you like me to handle it)?

[2017-07-18 19:32] yeemey commented on #200
I will make this change, and submit a pull request, thanks!

[2017-07-18 20:10] yeemey commented on #200
Yes, this is for instructor training checkout.

[2017-07-23 15:15] wrightaprilm commented on #200
Addressed by #201. Thank you!

[2017-07-23 15:15] #200 closed

[2017-08-02 15:11] andreas-h commented on #190
can this be closed? seems to be fixed by #198

[2017-08-14 19:29] wrightaprilm commented on #190
You are correct, @andreas-h. I entirely forgot this was still open. Thanks all!

[2017-08-14 19:29] #190 closed

[2017-09-05 06:39] bgbg opened #205 "Unclear text in 01-starting-with-data"
The first sentence in `_episodes/01-starting-with-data.md` is:

It is unclear what is meant by "the process above".

[2017-09-05 11:29] bgbg opened #208 "Unexisting input file referenced 06-visualization-ggplot-python"
The 06-visualization-ggplot-python lesson references surveys_complete.csv. This file is not a part of this repo and is not created in any step of this course. From reading the corresponding R course [here](http://www.datacarpentry.org/R-ecology-lesson/03-dplyr.html), I understand that this file is based on the original survey data with missing values removed. However, after removing the missing va

[2017-09-12 16:25] wrightaprilm commented on #208
OK, this should be fixed as of #commit  dcb23abce. I'm going to leave the issue open to make some flavor text about where this file comes from, or possibly to have it be generated in a previous lesson (feel free to untag yourself).

[2017-09-13 02:08] wrightaprilm commented on #205
Pushed a fix in 663cb09, thanks for calling this to mind!

[2017-09-13 02:08] #205 closed

[2017-09-13 02:14] wrightaprilm commented on #208
Alright, I redid some things. Per b247c566, lesson 03 now generates the surveys_complete file. As or 5acd5b, I've refactored the time series example to use a different set of groupby commands to generate the data that were in the "species" column, so we don't have to introduce a separate file at all. In b247c566, I added to the instructor guide the information that there is now a sample_output fol

[2017-10-02 19:32] wrightaprilm commented on #208
I'm onboarding a new maintainer, so I'm going to mark thsi as closed so its clear no action is needed, but feel free to reopen and comment.

[2017-10-02 19:32] #208 closed

[2017-10-25 19:09] golnoosh7 opened #217 ""Introduction to Python built-in data types section" issues"
There's a typo in "Strings, integers and floats" section:

1) Python has built-in numeric types for integers, floats, and complex numbers. Strings are a built-in textual type.: ====> there's an extra dot here before the colon.

2) I think strings, integers, and floats need to be mentioned in the example:

text = "Data Carpentry"     #as an example of string
number = 42                      #as an

[2017-10-25 19:45] remram44 commented on #20
Google is also slowly rolling out their own, integrated with Google Drive: https://colab.research.google.com/ (currently appears in beta, need to request access)

Azure Notebooks is a very good option that is easy to start using immediately 👍

[2017-10-28 21:36] chitrakgupta opened #218 "suggestions about importing library"
Just a thought that when introducing the concept of importing a python library, it might be worthwhile to discuss the different ways of importing, i.e.

1. import library
2. import library as lb
3. from library import function

Especially the 3rd one is helpful when you only need one or two functions from a library, in which case you need not import the entire library.

[2017-11-01 16:39] wrightaprilm commented on #217
OK. Would you like to make a pull request, or would you prefer for me to do this?

[2017-11-01 16:41] wrightaprilm commented on #218
All right. Are you looking to make a pull request with that content, or just to have me add it to the to-do list?

[2017-11-01 19:05] chitrakgupta commented on #218
Actually whichever is easier. I could go ahead and make these changes.

[2017-11-02 13:12] wrightaprilm commented on #218
Either way is fine with me. I think it's good experience to merge at least one commit with us and see the feedback process.

[2017-11-02 14:10] alexmorley commented on #218
I'm not 100% sure this (i.e. `from x import y` syntax) should be introduced straight away. The only reason I say this is to explain the real difference between it and the first two is quite subtle and could be confusing for someone just starting out.

So `from x import y` still imports the whole module but just introduces `y` into the global namespace - (which also introduces the chance of a colli

[2017-11-02 14:15] wrightaprilm commented on #218
Right, I agree with that. There are lots of opportunities in the materials to introduce something like that, either within the lessons proper or the capstone, which is why I favor @chitrakgupta  thinking about it and then making the pull request. I think this is one where there's no one single right place for it, and I'm looking forward to the discussion.

[2017-11-02 16:21] grazulis commented on #217
Hi, I've prepared a fix for this for my instructor checkout. Submitting pull request now.

[2017-11-02 20:27] brownsarahm commented on #218
This lesson as is introduces the first two and uses `import pandas as pd` throughout, so it's a change to make throughout to not introduce that.  It can be used without explaining all of the details of namespaces and I think it's valuable to do so because it is standard practice.  No one is going to find code excerpts elsewhere using `pandas`, `numpy` or `matplotlib.pylab` spelled out fully anywhe

[2017-11-02 20:50] alexmorley commented on #218
@brownsarahm sorry if I didn't explain very well but I also meant to say I think it best to keep it as it is at the moment. Was just suggesting not to add the `from x import y` syntax (at least at the start) which AFAICT is not used in the lessons at present.

[2017-11-02 20:50] tdpearson commented on #218
There is a similar discussion that is captured in the Software Carpentry's Instructor notes for the [Programming with Python](http://swcarpentry.github.io/python-novice-inflammation/guide/) lesson. They have valid arguments both for and against including the import x as y.

[2017-11-02 22:25] chitrakgupta commented on #218
Thanks @tdpearson for referring me to the post. It was really interesting. I guess it is a pretty divided community on this issue. Since I don't have any instructor experience yet I won't be able to comment. I am presuming such details would depend on the how things go at a particular workshop? i.e. since python usually doesn't come up until the afternoon session, maybe take a decision based on ho

[2017-11-03 12:44] ellamguest opened #220 "additional "required" data needed in setup"
The [setup](http://www.datacarpentry.org/python-ecology-lesson/setup) only lists 4 data files to download individually:
- surveys.csv, species.csv, speciesSubset.csv, and portal_mammals.sqlite

The lesson ['04-merging-data'](http://www.datacarpentry.org/python-ecology-lesson/04-merging-data/) references ['the data folder'](https://github.com/datacarpentry/python-ecology-lesson/tree/gh-pages/data)

[2017-11-03 13:46] wrightaprilm commented on #220
Fixed in  48f560e. Thanks!

[2017-11-03 13:46] #220 closed

[2017-11-03 13:54] wrightaprilm commented on #218
I think that's a fine approach. I often adjust content over lunch or while the other instructor is talking based on how the audience is responding to material. I like going in with import pandas as pd right away, since when participants google for help, this is the syntax they'll see most often. I think the last session is fairly rarely taught, since DC (unlike SWC) has required curricula in all f

[2017-11-05 23:41] colinmorris opened #221 "Bug BBQ: Data setup confusion"
The "Data" section of the [setup document](http://www.datacarpentry.org/python-ecology-lesson/setup/) says:

I see a few problems here.

1. There are actually 7 files listed after this, not 2.
2. It is not true that clicking each link will initiate a download. This happens with the figshare links, but the links to the github-hosted files bring up a web preview. (To download the file, you need to c

[2017-11-06 01:19] colinmorris opened #223 "Bug BBQ: Explanation of methods and attributes could be better"
Methods are first explained in lesson 00:

And then re-explained (along with attributes) in lesson 01:

I think it would be helpful to make the following points:

1. A method is just a kind of function.
2. An attribute is just a kind of variable.
3. Methods and attributes are specific to certain kinds of things. I can call `append` on a list, but not on a dictionary or a string. `dtypes` is not a

[2017-11-06 01:36] colinmorris opened #224 "Call to `reset_index` in merging lesson not needed?"
The [merging lesson](http://www.datacarpentry.org/python-ecology-lesson/04-merging-data/) has the following code excerpt:

[code]

It's not really explained why `reset_index` needs to be called for the second frame to append "properly". I tried following along *without* resetting the index, and it seemed to do the right thing. Of course there's a big gap between the index values in the first and s

[2017-11-07 18:37] colinmorris opened #225 "'If loop' is potentially confusing terminology"
It's used throughout [lesson 05](http://www.datacarpentry.org/python-ecology-lesson/05-loops-and-functions/).

I think the word "loop" might give the impression that these things go around and round like for loops, executing more than once.

I'd suggest renaming to "if statement" (or "conditional", or "if/else").

[2017-11-07 19:25] colinmorris opened #226 "Pandas code in episode 06 (visualization) seems very advanced"
(Sorry for the flurry of issues/PRs. I'm preparing to do a demo for this lesson, so I've been poring over it for the last day or two.)

I use Pandas pretty regularly, but I was a little thrown by some of the code in this episode until I stepped through it in the interpreter. Particularly:

[code]

[code]

As far as I can tell, the following are all new at this point in the lesson:
- `reset_index()

[2017-11-08 21:50] tdpearson commented on #225
I agree and have created the above PR.

[2017-11-08 22:49] colinmorris opened #228 "Problematic use of implicit boolean conversion in episode 05"
This code works because `None` is "Falsey" - i.e. implicitly converted to False. But this isn't really explained.

[code]
Also, theoretically this *could* cause buggy behaviour if someone specifies 0 (which is also Falsey) as the start or end year. (Unlikely, but maybe if you're working with a dataset of ancient documents or something?)

I'd suggest replacing the conditions with something more exp

[2017-11-09 16:58] wrightaprilm commented on #225
Solved by #227.

[2017-11-09 16:58] #225 closed

[2017-11-09 17:16] wrightaprilm commented on #224
This might be sensitive to Pandas version. When I run

[code]

I get:
<img width="1129" alt="screen shot 2017-11-09 at 11 12 58 am" src="https://user-images.githubusercontent.com/1715446/32619023-0fedd54e-c53f-11e7-8c9d-acac9e0c6f65.png">

which has the index set to the original DF indices.

But if I used

[code]

which results in:

<img width="1123" alt="screen shot 2017-11-09 at 11 13 10 am" src

[2017-11-09 23:34] colinmorris commented on #224
I see the same behaviour, but what I meant to say was that, in the context of concatenating the dataframes (vertically), resetting the index of the tail frame feels like it's worse than doing nothing, because it leads to duplicate index values (whereas, if we do nothing, we merely have to deal with non-contiguous index values).

But looking at the lesson again, I'm realizing that maybe the `reset_

[2017-11-10 02:09] wrightaprilm commented on #224
I'm not particularly open to the idea of removing the horizontal stacking, since that's a really useful thing to be able to do. But if you'd like to make a pull request for the rest, have at it.

[2017-11-10 02:29] colinmorris commented on #224
If that's the case, I'd love to see a note on what kinds of situations it can be useful for.

Or, better yet, for the example to be reworked so that it *is* one of those situations. i.e. the stacking is being used as a tool to answer some question about the dataset, or solve some problem.

[2017-11-22 14:51] stijnvanhoey opened #229 "consistent usage of the `data` folder"
In the `setup` and first lessons, the usage of a `data` folder is not mentioned or used. However, when starting with the lesson of dat types and formats, the read data is reading from a data folder:
[code]
I think consistency matters here and I would propose to use the `data` folder for all episodes (splitting notebooks and data files in separate folders), but before I put this into a PR, I just w

[2017-11-22 15:34] wrightaprilm commented on #229
You’re right, and this is what we reference as an issue in #221. A PR on data/ consistency would be great. Just for simplicity, I’m going to close this one and have you reference issue #221 in your PR. Thanks!

[2017-11-22 15:34] #229 closed

[2017-12-05 15:06] tiagopereira commented on #228
I think the approach `if start_year is None:` makes more sense. Agree that assuming `None` turns to `False` is not ideal.

[2017-12-05 22:46] cmaimone commented on #221
One way to provide the ability to download the files as single zip file, while not creating issues with keeping the zip file updated as the data files change, is to use [DownGit](https://minhaskamal.github.io/DownGit/#/home).

This link: https://minhaskamal.github.io/DownGit/#/home?url=https://github.com/datacarpentry/python-ecology-lesson/tree/gh-pages/data can be used to download everything in t

[2017-12-05 22:59] wrightaprilm commented on #221
Would it be possible to do two zip files, one without the yearly files and one with? I put them there in case there were learners who encountered permissions issues creating directories from the command line and couldn't complete the exercise in which they're created. So it would be nice to have them in a zip, but I also don't think it's necessary.

I'll add the bouldercreek file to the setup. It'

[2017-12-05 23:09] cmaimone commented on #221
No, you can only do an entire directory with the various services like this that I've used.  If the supplemental files were moved out of data to another directory, that could work.  Or, it might not be that bad to have them included.  The extra files aren't particularly large, so it's not much of a burden if people have downloaded files they don't end up needing.

[2017-12-05 23:14] wrightaprilm commented on #221
In that case, I think it's fine to include them. They're not big.

[2017-12-06 14:52] mialondon opened #230 "Update objectives in 'Short Introduction to Programming in Python'"
The objectives currently live at http://www.datacarpentry.org/python-ecology-lesson/00-short-introduction-to-Python/ are:
- Describe the advantages of using programming vs. completing repetitive tasks by hand.
- Define the following data types in Python: strings, integers, and floats.
- Perform mathematical operations in Python using basic operators.
- Define the following as it relates to Python:

[2017-12-07 02:30] wrightaprilm commented on #221
Download issue addressed by #231. Checking of paths still open, and would make a great instructor checkout activity!

[2017-12-08 18:18] joshsteele commented on #221
Hi.  I'd be happy to go through and check the paths to the data throughout the lesson. I'm working on my instructor checkout.

[2017-12-08 20:48] wrightaprilm commented on #221
Awesome, @joshsteele. Let me know if you need any help with anything.

[2017-12-08 22:20] joshsteele commented on #221
Thanks, I will let you know.

[2017-12-12 16:31] ErinBecker opened #232 "typos and formatting"
Submitted by email for instructor training checkout.

On the "Python for ecologists" lesson homepage:

Under Schedule

* 2:45 "pandas" should be capitalized
* 3:30 "Data workflows and automation" Title case should be applied
* 06:30 Replace "&" with "and"
* 07:15 Replace "&" with "and"

Under the Schedule: Setup link (setup)

The second sentence reads "For this lesson, we will use two files for th

[2017-12-14 16:35] wrightaprilm commented on #221
Path issues addressed by PR #233. I'm going to leave this open, since the issue of instructing learners on where to put the data is unaddressed and would be a nice checkout project for someone.
Thanks everyone for your work so far!

[2017-12-14 16:36] wrightaprilm commented on #232
Looks like a good instructor training checkout exercise. I'll tag it as such, in case anyone is checking out soon!

[2017-12-14 16:37] wrightaprilm commented on #230
OK, would you like to submit a pull request with these changes, or would you like me to tag these as available for contributors to try?

[2018-01-17 16:35] #230 closed

[2018-01-21 00:14] andrewsanchez commented on #232
Looks like [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) always prefers pandas to be lowercase, even at the beginning of a sentence.  Who would've thunk!

[2018-01-21 00:39] andrewsanchez commented on #232
Got a good start on this in https://github.com/datacarpentry/python-ecology-lesson/pull/236

[2018-01-24 15:05] cbrafter opened #239 "Repeated explanation of functions"
Functions are introduced at the very end of Ep.00, but unused until Ep.05 where they are reintroduced more comprehensively as part of the section dedicated to loops and functions. Should the information about functions in Ep.00 be removed, as it introduces a new concept that isn't in the stated lesson objectives and is treated properly later? Alternatively it could be added to the Ep.00 lesson obj

[2018-01-25 19:12] wrightaprilm commented on #232
Thanks, @andrewsanchez for contributing fixes to this. Do we have an issue bonanza coming up in March (maybe @ErinBecker would know this)? If so, I'll close it, and later open a new issue for general typo-spotting. If not, I'll probably leave it open.

[2018-01-25 19:19] wrightaprilm commented on #239
That's a good point @cbrafter. We discuss functions in the next chapter, but in the sense of loading a library and using pre-existing functions. I think perhaps the best way forward would be to take them out in lesson-00, introduce functions in 01 as pre-existing tools in a library [no change to text], then discuss custom functions in 05. What do you think about that approach? That's a little more

[2018-01-25 19:45] ErinBecker commented on #232
@wrightaprilm - Thanks for pinging me on this one. We don't have an issue bonanza for the Ecology lessons scheduled in March, but I agree that we're about due for one. We're currently starting planning for an issue bonanza/bug bbq cycle for the new social sciences lessons that will probably be happening in March. Would you like to combine those two events?

[2018-01-25 19:49] andrewsanchez commented on #232
@wrightaprilm If you edit your original post and turn each item into a checkbox, I can tick off all the ones I completed, and make notes about what still needs work.

[2018-01-25 19:55] wrightaprilm commented on #232
Good question, @ErinBecker. Maybe a discussion we put on the agenda for the maintainer meeting? I thought the Issue Bonanza/Bug BBQ was an annual thing, and had a few major update/overhaul tasks saved up for that time period. It might be good to get the temperature of the room for if other lessons would find a regular event schedule helpful. If it's just me, I'll happily throw in with the social s

[2018-01-25 19:57] ErinBecker commented on #232
Yes, let's put this on the agenda for the Maintainer meeting. I'll add to
the Etherpad. This had been an annual event for SWC lessons, but not yet
for DC lessons. We've been doing separate events for each lesson as we
prepare for initial publication. I agree that it would be good to combine
these events in the future to avoid overwhelming the community.

On Thu, Jan 25, 2018 at 11:55 AM, April Wri

[2018-02-02 22:42] naveenkumarmarri commented on #224
@wrightaprilm will the issue be fixed by removing the line for `reset_index()`

[2018-02-04 07:49] jberlanga opened #241 "Typos in Lesson 03 - Data Types and Formats"
Under Numeric Data Types:  Missing comma after

---

Under Text Data Type: Missing space after

---

Under Where Are the NaN's?: Missing punctuation

---

Under Writing Out Data to CSV:

- `dropna` misspelled as `drop_na` in two places
- Following line should have `drop_na` replaced by `df_na`:

- Following line should be reworded slightly to improve understanding:

- Reference to `vertical_stack`

[2018-02-07 14:30] MikeTrizna opened #243 ""Intro to Python" no longer showing up in overall schedule"
We are about to teach a Data Carpentry course today, and just noticed that the "Short Introduction to Programming in Python" episode is no longer listed on the main Python for Ecologists index (http://www.datacarpentry.org/python-ecology-lesson/).

I unfortunately don't know how to work with Jekyll, but it appears that the portion that automatically generates the Schedule portion of the page is lo

[2018-02-07 14:56] wrightaprilm commented on #243
Thanks much for catching that. The issue was that the "keypoints" section in the header isn't supported by the current template, and so jekyll was not understanding that lesson as a lesson. Went in and pulled that out and we're good to go!

[2018-02-07 14:56] #243 closed

[2018-02-07 15:17] MikeTrizna commented on #243
Wow, that was fast! (So fast that I went to show the bug to my co-instructor, it was already fixed, and I was questioning my sanity). Thanks for fixing this @wrightaprilm.

[2018-02-07 15:18] wrightaprilm commented on #243
Ha, I try to get to emergency issues like this ASAP.

Let me know how the lesson runs - we're planning another Issue Bonanza and Bug BBQ, so we'll have some devoted time to patch a lot of the little things that slip by throughout the year.

[2018-02-14 21:24] dylanmikesell commented on #239
I agree with the approach proposed by @wrightaprilm. I think it would also be worthwhile to move this line

`Tip: print and type are built-in functions in Python. Later in this lesson, we will introduce methods and user-defined functions. The Python documentation is excellent for reference on the differences between them.`

to 05, and include the link to the Python documentation that explains thes

[2018-02-20 19:30] hec8855 opened #244 "Bug BBQ: Image rendering in Lesson 02"
The two images under 'Extracting Range based Subsets: Slicing' have superscripts denoting indexes which do not correctly render to fit the image.

[2018-02-20 19:31] hec8855 commented on #244
![screen shot 2018-02-20 at 1 31 12 pm](https://user-images.githubusercontent.com/13354605/36444985-67f6cecc-1642-11e8-9ce4-9884b814a147.png)

[2018-02-20 22:54] wrightaprilm commented on #244
I'm not seeing this issue on FireFox or Safari on Mac (High Sierra). Could you let us know what platform you're using so I can replicate the issue?

[2018-02-20 22:55] wrightaprilm commented on #241
It looks like you cleaned all these up in #242. Thank you! I'll got ahead and close this.

[2018-02-20 22:55] #241 closed

[2018-02-21 12:12] trallard commented on #244
Same here, checked in Safari and Chrome (Windows and Mac) and could not reproduce the issue.

<img width="636" alt="screen shot 2018-02-21 at 12 08 44" src="https://user-images.githubusercontent.com/23552331/36479283-04a6188c-1700-11e8-80a7-6056a6052fd9.png">

[2018-02-23 21:55] wrightaprilm commented on #239
OK, so for those following along at home, here are the proposals:

- [ ] Remove references to functions in lesson 00.
- [ ] Add a definition of a method, since we use that term
- [ ] Move custom definitions to 05.

Does that sound right? Let me know if it doesn't - I'll amend the checklist. Any one of these items would be a good instructor training checkout exercise.

[2018-02-26 07:13] pinsleepe commented on #239
I will make this a part of my instructor checkout ;)

[2018-02-28 04:35] wrightaprilm opened #245 "I hate to suggest it, but adding splitting columns"
Hi all,

I was teaching a fork of these materials in a genomics class, and I realized something we don't cover is how to split a column into multiple columns. You can find an example about 5/6 of the way down the page [here](https://paleantology.github.io/SELUGandT/18-starting-with-data/), in which we've loaded some output from a Python package for post-processing some genomic data. The file has o

[2018-03-01 14:00] trallard commented on #245
Hi

This is a task that I _often_ encounter when dealing with data. I would be a bit reluctant to add this too early in the lessons (e.g starting with data). It makes a bit more sense to have this added later on as people start getting more familiar with data manipulations in pandas.

[2018-03-03 15:17] wrightaprilm commented on #245
Yeah. The "Putting It All Together" lesson needs substantial work. Maybe it could go in there, so that lesson is less of a straight rehash, and has some novel content.

[2018-03-03 15:57] stijnvanhoey opened #246 "Bug BBQ: ggpy or plotnine when introducing grammar of graphics - Discussion"
The current lesson [Making Plots With ggplot](http://www.datacarpentry.org/python-ecology-lesson/06-visualization-ggplot-python/) is using the package [ggplot/ggpy](http://ggplot.yhathq.com/). However, when checking the repository for recent developments, it says `Latest commit b6d23c2  on Nov 20, 2016`. At the same time, the [plotnine](https://github.com/has2k1/plotnine) package is still under ac

[2018-03-03 17:01] stijnvanhoey commented on #245
I agree that this is a common operation. I like the suggestion of adapting the content of the "Putting It All Together" lesson to incorporate this. Maybe change it to explain some of the [`.str.`-functions](https://pandas.pydata.org/pandas-docs/stable/text.html) and [`datetime`-functions](https://pandas.pydata.org/pandas-docs/stable/timeseries.html) of Pandas, which would enable to incorporate the

[2018-03-03 17:40] stijnvanhoey commented on #246
Just a a test, I adapted the first section [plotting-with-plotnine](https://github.com/stijnvanhoey/python-ecology/blob/plotnine-conversion/_episodes/06-visualization-ggplot-python.md#plotting-with-plotnine) and the syntax does not seem to be very different. Although, as mentioned in #226 , the next sections maybe require some adapations anyway?

[2018-03-05 17:03] wrightaprilm commented on #246
This is a really good question that I'd like some broader opinions on. We have the bug bonanza coming up, so now is a good time to have it. For context: the plotting lesson has always been a bit of a beast, and a lot of that is due to the fact that there's more diversity in what people do for plotting in python, compared to R. There's a fork of this repo that gets used in a semester-long course, d

[2018-03-05 17:52] stijnvanhoey commented on #246
Good point. I actually would split the discussion in two:
1. Is there added value in introducing the concepts of `Grammar of Graphics`?

I would definitely say yes. It provides a very powerful way of creating graphs for typical `data.frame` data.

2. If we want to introduce the `Grammar of Graphics (GoG)` concept, we have to go beyond matplotlib and need to make a choice in the package to introduc

[2018-03-06 23:25] Amrithasuresh commented on #232
@ErinBecker It seems few things mentioned have been fixed. Is this issue still open? If so can I do it. Thanks

[2018-03-06 23:58] darencard commented on #246
I used `ggpy/ggplot` a while back for a Python Genomics workshop before it got co-opted into core Carpentry lessons. It did the job of teaching GoG well enough, but even some of the basic plots had little visual bugs. Given this was roughly when support was discontinued, I'm sure these persist in some form.

Just last week used `plotnine` (anyone know what the name means???) for a workshop and tho

[2018-03-08 17:38] ethanwhite commented on #246
I agree with @stijnvanhoey's assessment and recommendation for switching to `plotnine`. I like the parallel with the R lessons and I also think that GoG makes it easier for beginners to create complicated plots which helps satisfy the "early wins for motivation" goal of the workshops.

It might also be worth noting that we don't have to switch over to the recommended `plotnine` notation and if we

[2018-03-08 17:48] stijnvanhoey commented on #246
@ethanwhite the necessity of the alias is indeed technically not required when importing the entire namespace of plotnine. However, considering the good practice of handling the package namespaces (basically doe not import *) and the easiness to explore a library with an alias (`p9.` + TAB button really helps people to get to know a package), I would recommend to use the alias. Feel free to revise

[2018-03-08 19:14] ethanwhite commented on #246
@stijnvanhoey I don't disagree on the best practice. My point was mostly that it is independent of the switch to `plotnine`. If that switch is, on it's own, basically as simple as changing the import that means there's not much cost to switching to the more full featured better maintained library.

[2018-03-08 19:19] stijnvanhoey commented on #246
Indeed, good point.

[2018-03-08 19:33] wrightaprilm commented on #246
Right, and that's where I'm mostly hanging up. We currently do GoG, and ideally, I think that should continue to be the paradigm. Most of the tools in the lessons (Pandas, Matplot in the SWC lessons are all under NumFocus) have some financial support for their development, and a roadmap for development. I don't really want to be doing this dance again in a year and changing things up on our instru

[2018-03-21 19:56] djennewe commented on #244
I'm able to replicate the problem on Internet Explorer 11 and Microsoft Edge 41 on Windows 10 64 bit.

[2018-03-21 19:58] djennewe commented on #244
![python-img-ie](https://user-images.githubusercontent.com/17789352/37734122-4023f770-2d18-11e8-801e-03e07c7d7f87.PNG)
Internet Explorer 11

[2018-03-21 19:58] djennewe commented on #244
![python-img-msedge](https://user-images.githubusercontent.com/17789352/37734131-4ada7342-2d18-11e8-815f-82fd1286efdc.PNG)
MS Edge 41

[2018-03-27 13:02] has2k1 commented on #246
Plotnine is actively maintained, and though the bug frequency is low I am still the only main developer.

The mid to long-term future of the project largely depends on the scientific python ecosystem. Depending on how Matplotlib evolves, plotnine should be become more extendable; on the grammar level it has the same extension capabilities as ggplot2 it is only held back by the plotting backend (Ma

[2018-03-27 13:35] wrightaprilm commented on #246
That sounds reasonable to me. We have a Bug BBQ coming up in two weeks, and the last time we had one, we had really nice buy-in from both the Carpentries community and the larger Python community. So I'll leave this discussion open so people can see the discussion.

Next week, I'll merge the lesson, and create a couple issues, one for cross-platform testing of the lesson, and one for general readi

[2018-04-05 18:27] wrightaprilm opened #251 "Bug BBQ: Plotting lesson conversion testing"
@stijnvanhoey has graciously contributed a port of the current plotting lesson to PlotNine. If people would be willing to run through the lesson, it would be much appreciated.

Lesson is discussed and linked in #248 .
More discussion of the plotting lesson can be found in issue #246

Testing checklist:

- [x]   Mac

- [x] Windows

- [x] Linux

[2018-04-05 18:39] wrightaprilm commented on #244
I am genuinely unsure what is causing this. I'm tagging it as open for the Bug BBQ.

[2018-04-05 18:41] wrightaprilm commented on #239
Hi @pinsleepe, I wanted to check in if you still intend to get to this, or if I can mark it as up-for-grabs for the Bug BBQ. Either way is totally fine. Thanks!

[2018-04-05 18:43] wrightaprilm opened #252 "Bug BBQ, general issues"
Do you want to be involved in the Bug BBQ, but are unsure of where to get started? Let us know here, and we can help you spot issues that might be in your skillset and range of interests! This week, we've rolled out new issue labels to let you know what types of issues are available to be fixed. Feel free to ask any questions, and thanks for your interest in contributing!

[2018-04-05 18:45] #197 closed

[2018-04-05 18:51] wrightaprilm commented on #221
The discussion on this sort of petered out, I'm going to add one action item:

- [ ] Add discussion of where to store downloaded data files to instructor guide. Where should instructors tell them to save it? What files should be present? How can downloading files and storing them be used to enforce Data Carpentry's other materials about good project organization?

[2018-04-05 18:56] wrightaprilm commented on #223
Adding this to the list of issues for the Bug BBQ. Action items:

- [ ] Better explanation of what a function is

- [ ] Better explanation of what a method is

- [ ] How are methods specific to types of objects? Perhaps include an example, and a discussion how you can view methods in the iPython/Jupyter framework (i.e., hitting tab).

[2018-04-05 19:06] wrightaprilm commented on #228
Pushed fix in 7b823aa687d09.

[2018-04-05 19:06] #228 closed

[2018-04-05 19:07] wrightaprilm commented on #232
I think everything is now caught in this issue, and I'll go ahead and close it.

[2018-04-05 19:07] #232 closed

[2018-04-05 20:13] stijnvanhoey commented on #245
@wrightaprilm, no problem. Unfortunately, I won't be able to join during the bug BBQ. Maybe the discussion above can result in a more general adaptation of the `07-putting-it-all-together` episode.

Points to consider:
1. adding a section on the `.str.**` methods, with the splitting as application?
2. also introduce the `.dt.**` functions for datetimes (it is a similar idea as 1)?
3. what about `m

[2018-04-05 20:26] wrightaprilm opened #254 "Bug BBQ: 07-Putting it all together lesson cleanup"
This lesson has been needing a bit of attention for a while. I wanted to solicit a little bit of feedback before I make a to-do list for the Bug BBQ.

- [ ] #245 suggests adding the idea of column splitting. The Open refine lessons accomplish this using [this file](https://ndownloader.figshare.com/files/7823341). It's huge, but it's basically the Portal Mammal dataset, and the splitting is of the

[2018-04-06 15:44] guadabsb15 commented on #251
I did a pass through the lesson in #248  using Linux(Fedora), python3.6 and plotnine==0.3.0 and as data I used the suveys.csv file from lesson #2 (Starting with Data). Here are a few comments:

1. In the faceting section, for the last example p9.facet_grid("year ~ sex") would not work giving the error
    IndexError: index 0 is out of bounds for axis 0 with size 0
    Which I am not sure it can be

[2018-04-08 17:03] katrintirok commented on #246
I neither use ggplot nor plotnine when working with python, but instead matplotlib, which still seems to be the standard library for scientific computing in python.  When I recently taught the DC ecology lesson with python together with a colleague who mainly uses python, he was surprised to see 'an R library' within the material.
I am familiar with ggplot from working with R, and I really like it

[2018-04-08 17:07] katrintirok commented on #239
I think explaining and using build in function should be introduced in the introduction, but how to write own functions is more advanced and should only come later or dropped from the lesson (the R lesson for example does not introduce functions at all)

[2018-04-08 17:10] katrintirok commented on #223
Please see pull-request with rewritten intro-to-python which contains a more structured intro to functions and methods

[2018-04-08 18:08] katrintirok commented on #254
I am a bit unsure what the main aim of this lesson is - it sounds like it should be kind of a capstone project, which is a good idea I think, but doesn't really come together like this at the moment.

What would be necessary to make it a capstone project?, some ideas:
1) decide on data to use --> learners could use their own data or use a given data set (seems to be fine as is)
2) explore data a b

[2018-04-08 20:02] katrintirok opened #259 "Suggesting new structure of episodes"
Suggesting changes to structure of episodes for a better flow of the lesson and a closer connection to the R lesson:

1) starting-with-data episode: take out the summary statistics part and add instead the subsetting-slicing into this episode; add part on dates and datetime objects in python and pandas (see pull request #258); add section on NaN values
2) remove subsetting-slicing episode
3) remov

[2018-04-09 09:35] stijnvanhoey commented on #246
Maybe, instead of focusing on looking for a `ggplot2` alternative, we could put the focus of the learning objectives of `Making plots...` episode on the introduction of the [*Grammar of graphics*](https://www.cs.uic.edu/~wilkinson/TheGrammarOfGraphics/GOG.html) (GoG), a valuable skill in general. And with respect to this objective, `plotnine` and `altair` are the 2 main candidates (as far as I'm a

[2018-04-09 19:33] katrintirok commented on #246
That sounds good, introducing GoG as a general concept and then introduce how to realise it in python. The fact that plotnine is built upon matplotlib and can be customised with matplotlib is a plus, I so far have not used plotnine, but will have a better look at the lesson this week.

Nevertheless, we should still think about how to introduce the basics of matplotlib with fig and ax objects for l

[2018-04-12 15:36] katrintirok opened #262 "update data files linked in setup section"
The data or/and links to the data in at the setup section need to be updated to reflect the most recent release of the portal teaching data set on figshare.

[2018-04-12 20:06] katrintirok commented on #244
It may be solved by using .png files for the graphs instead of .svg files. Could also try to export all objects as paths in the .svg, but not sure whether this would solve it.

[2018-04-13 16:24] wrightaprilm commented on #246
The problem with this lesson is always going to be that the Python plotting ecosystem is going to be fragmented in a way that R isn't. So there will always be instructors who aren't familiar with different aspects of the way Python plots are built. I'm the only person I know who ever uses MatPlotLib, for example, beyond simply making more axes of a figure. We haven't had any specific feedback from

[2018-04-13 16:46] wrightaprilm commented on #244
Addressed in #263.

[2018-04-13 16:46] #244 closed

[2018-04-13 17:56] wrightaprilm commented on #251
These are passing on my Mac and Windows machine. But my Windows is a little atypical, in being set up to test compilation of heavier software products. I'd certainly still appreciate a second set of windows eyes on.

[2018-04-17 15:25] stijnvanhoey commented on #246
+1 for the 'GoG first' approach and I agree on the woow factor. If we do the `fig/ax` of matplotlib interaction, this could indeed be good for the *all together* lesson.

[2018-04-17 20:10] colinmorris opened #266 "No Python syntax highlighting"
There seems to be no syntax highlighting of the python code in this lesson - it all just appears grey.

(Compare with the [programming with Python](http://swcarpentry.github.io/python-novice-inflammation) SWC lesson, or the DC [R ecology lesson](http://www.datacarpentry.org/R-ecology-lesson/), both of which have syntax highlighting.)

[2018-04-17 20:13] colinmorris opened #267 "Solution code in episode 06 (ggplot) not rendered as code"
In [this lesson](http://www.datacarpentry.org/python-ecology-lesson/06-visualization-ggplot-python/) the solution code isn't styled as a code block (i.e. not monospace, no grey background).

[2018-04-17 20:14] has2k1 commented on #246
The issue is slightly deeper, i.e the python tools are not coherent. R has the `tidyverse` where by the cleaning, manipulation, modelling and plotting of data is with tools built around the tidy data concept. In that environment GoG plotting is not out of place. In python users sometimes may feel like they are manipulating data just so it can be plotted with a GoG package, so using a grammar may s

[2018-04-17 20:24] colinmorris opened #268 "No output (tables or charts) shown in episode 06 (plotting)"
It would be really useful to see the plots produced by the code in the episode, as well as excerpts of the dataframes used.

(Maybe this work is already planned, but I couldn't find any issues/PRs about it.)

[2018-04-24 20:13] tmorrell opened #270 "Episode06 faceting challenge questions"
The solutions for the faceting challenge questions have issues.  The first generates a warning:

/Users/tmorrell/anaconda/lib/python3.6/site-packages/plotnine/geoms/geom_path.py:82: UserWarning: geom_path: Each group consist of only one observation. Do you need to adjust the group aesthetic?
  warn("geom_path: Each group consist of only one "

![faceting](https://user-images.githubusercontent.com/

[2018-04-24 21:03] tmorrell commented on #266
I've updated the formatting in a few places in https://tmorrell.github.io/python-ecology-lesson/06-visualization-ggplot-python/, but it didn't seem to fix the syntax highlighting.  Might be configuration of the template?

[2018-04-24 21:08] tmorrell commented on #268
Available in #271. Rendered version available at https://tmorrell.github.io/python-ecology-lesson/06-visualization-ggplot-python/

[2018-04-24 21:08] tmorrell commented on #267
Should be fixed in #271

[2018-04-24 21:11] fmichonneau commented on #266
Yes, the template hasn't been updated in a while. If you submit a PR fixing the style formatting, I'll take care of bringing the latest version of the template.

[2018-04-25 02:16] riwoodward opened #272 "Plotnine not listed in setup & ggplot package not found in conda"
Hi,

I tried following this lesson (as part of the new instructor checkout process) and there seems to be a problem with the setup and use of ggplot package.

**Problem 1: ggplot package is not found**
In the setup page, it instructs learners to install ggplot using the following command:

    conda install -c bokeh ggplot

On my machine (Anaconda distribution, Win10), I get the following error me

[2018-04-25 02:30] wrightaprilm commented on #266
I'm a little confused about the new template and the role of the new template in formatting - should we have gotten a pull request from Raniere with the template? And if not, should we wait until it is received to make these format changes?

[2018-04-25 02:31] #252 closed

[2018-04-25 02:34] wrightaprilm commented on #267
The issue is persisting, but I'm going to close this issue, and have us manage the discussion via issue #266.

[2018-04-25 02:34] #267 closed

[2018-04-25 02:35] wrightaprilm commented on #268
It is indeed - thanks to both of you for raising the issue!

[2018-04-25 02:35] #268 closed

[2018-04-25 02:37] wrightaprilm commented on #272
Addressed via #269. Thanks!

[2018-04-25 02:37] #272 closed

[2018-04-25 05:45] trallard commented on #266
The latest update for the template should fix the lack of syntax highlighting.
I think what @fmichonneau meant is that he'll take care of bringing the new template to the lesson instead of waiting for a PR from Raniere

[2018-04-25 13:25] fmichonneau commented on #266
@trallard is correct. The Data Carpentry lessons that use the SWC template are not part of the script that Raniere uses to conduct the upgrade yet, which is why you haven't received a PR from him. All the DC lessons that use the template will be added to the script before the next  template release.

[2018-04-25 19:22] tmorrell opened #273 "04 Join Images"
The join images from coding horror don't load inline in episode 04 on browsers that use an ad blocker like privacy badger.  These could be recreated so they could be stored locally in the fig directory.

[2018-04-25 19:29] tmorrell commented on #266
PR submitted. The formatting won't change until the template is updated.

[2018-05-01 20:56] raqmann opened #276 "Episode00-Before We Start - More Basic step-by-step setup instructions"
Need more step-by-step instructions for setup, including sample workflow and screenshots. For a very beginner level, the setup is very text heavy. Screenshots with numbered steps would be so helpful.

Examples:

-Organizing Working Directory: not clear where to create directories,
-Difficult for new learners to understand how Python, Pandas, Anaconda work together in setup. What will they see when

[2018-05-02 13:55] fmichonneau opened #277 "from @crocodoyle: Pyplot tutorial should close plots"
In lesson 7, (http://www.datacarpentry.org/python-ecology-lesson/07-putting-it-all-together/), none of the examples close pyplot. This isn't a problem if only following the examples, but very important if you're creating figures in loops or creating lots of plots.

initially submited at: datacarpentry/datacarpentry.github.io#430

[2018-05-03 18:23] wrightaprilm opened #278 "NOTICE: Slight Coverage gap right now"
Hi Contributors-

With the end of the semester, and new jobs & babies among the maintainers, we're in a little bit of a coverage crunch right now. Crucial things (bugs) will still be handled, but larger maintenance or restructuring might be on the back burner for a bit.

Thanks so much for your patience, and for your contributions.

-- DC-python-ecology team

[2018-05-03 19:35] katrintirok opened #279 "Changed variable naming 'plot_id' to 'site_id' introduced inconsistencies"
The data on the GitHub repository are now inconsistent with the data on figshare, some episodes still refer to figshare. Using 'site_id' instead of 'plot_id' also introduces inconsistency with the other lessons (spreadsheets, openRefine, Sql, R).

Go back to 'plot_id' (for now)?

[2018-05-09 14:00] maxim-belkin commented on #273
Good suggestion. Lessons should be independent of outside resources. A PR that moves images under the dome of this repository would be welcome.

[2018-05-09 15:35] wrightaprilm commented on #273
I added a couple figure drafts (inner-join, left-join and right-join) to the figs/ directory. Could someone put eyes on them? I uploaded them to a colorblind simulator, and they seem fine, but I'm not sure I love the way I've labeled them.

[2018-05-09 20:44] tmorrell commented on #273
The colors are great, and I think they make the contributions from the two tables clearer than the existing images.

[2018-05-10 08:18] kasbkoz commented on #259
I think it is a great idea:

1. It will be helpful to novice learners in both Python and R.

Learners can try data analysis using both languages with both lessons and be able to see the differences/similarities between the code and assess which one might be more useful to them and suitable for their data.

2. It will be helpful to learners with working knowledge of one language who are novice lear

[2018-05-10 09:01] katrintirok commented on #273
I also think the colours are great and I like the idea to use two different colours for the 2 tables. I am just wondering about the different filling of the circles - to make the picture of the inner join consistent with the left/right join pics, should rather only the intersection be filled with the mixed colour and the rest of both circles white? And when using mixed colour for the intersection,

[2018-05-10 10:46] maxim-belkin commented on #273
@wrightaprilm, It would've been better to either upload figures to your fork or drag and drop them here.

[2018-05-10 13:08] wrightaprilm commented on #273
Katrin-
More like?

![untitled 001](https://user-images.githubusercontent.com/1715446/39871076-56264450-5429-11e8-8301-9ce7846b8598.png)
![untitled 002](https://user-images.githubusercontent.com/1715446/39871077-564162a8-5429-11e8-911b-4ccfbfc1e355.png)
![untitled 003](https://user-images.githubusercontent.com/1715446/39871080-565c383a-5429-11e8-9854-f2fa8def1cf5.png)

[2018-05-10 13:42] katrintirok commented on #273
Looks very cool now.

Regarding the svg - we had previously issues with rendering svg's in different browsers (the slicing figures), otherwise I agree that drawings would be better as svg.

[2018-05-10 13:46] maxim-belkin commented on #273
I am willing to help with the svg part (or, I'm sure @rhaas80 can help too) once you guys decide on the colors, text, etc.

[2018-05-10 13:59] wrightaprilm commented on #273
I don't feel strongly on the format of the images, and various repos do whatever they want, and this issue isn't in the handbook. I used png because Keynote exports to it, and the rest of our images are png, and that was how I knew how to make a figure like this ;P. I think Katrin makes a good point about the only .svg figure set we've recently had render issues. I'm open to the argument, but I'm

[2018-05-10 14:28] maxim-belkin commented on #273
svg is vector graphics file format so it scales up and down without any loss of resolution
png is raster graphics file format

With regards to the rendering issues: SVG in general should be widely supported:
http://svgtutorial.com/svg-browser-support/

Here is the first image in svg: format

[code]

[2018-05-10 15:01] rhaas80 commented on #273
@maxim-belkin  seems to have the  figure under control. Yes, I could help making the figure if there is need (though not by hand-crafting svg code, I do not understand anywhere near enough of svg to do that). Given  @katrintirok's comment about svg figures (independent of whether browsers should support it it or not according to the table) it may be useful to use png for the actual delivered image

[2018-05-10 15:12] maxim-belkin commented on #273
I have 10 minutes more experience with SVG than you :)

[2018-05-10 16:18] maxim-belkin commented on #273
@wrightaprilm, do you think you'll have the time to look into SVG thing? Or do you want to proceed with PNG and then we transition to SVG separately?

[2018-05-10 16:25] wrightaprilm commented on #273
Good question. I think the thing to do might be to merge in the pngs for now, since there's time-sensitivity. Then we can kick the question of a unified image format to the maintainers at the monthly maintainers meeting, since a best practice on image workflows will affect more than just us and it's probably good to get that hammered out from an organizational perspective.

Does that sound OK?

[2018-05-10 16:26] maxim-belkin commented on #273
yep

[2018-05-10 16:31] wrightaprilm commented on #273
OK, I'll go ahead and add my figures from my comment three hours ago and update the markdown with the links. I'm going to leave the issue open and tag the issue as a 'wait', pending discussion with the other maintainers.

[2018-05-17 17:59] astrochun commented on #279
Experience the same issue during Instructor workshop.

[2018-05-17 18:00] maxim-belkin commented on #279
@astrochun can you check if changes in datacarpentry/python-ecology-lesson#/281 solve this for you?

[2018-05-17 18:06] astrochun commented on #279
@maxim-belkin: The issue is the the instruction here: http://www.datacarpentry.org/python-ecology-lesson/01-starting-with-data/

Refers to the following file for the data: https://ndownloader.figshare.com/files/2292172

I did not download the data from git, so the fix that was implemented is not being used unless you update the figshare file or you provide the updated link.

[2018-05-17 18:15] wrightaprilm commented on #279
Right, the language issues should be solved by #281. I completely forgot to merge that one, but it's in now. I've opened #283 to change self-hosted versions of the figshare files back.

[2018-05-22 08:48] erikamias opened #289 "Objective not addressed?"
Objective "Describe the advantages of using programming vs. completing repetitive tasks by hand." is not described in the lesson?

[2018-05-22 17:26] maxim-belkin commented on #277
+1 for adding this to the lesson

[2018-05-22 17:57] stijnvanhoey commented on #277
I do think this intersects with the comments about the  #254 and the main discussion about rewriting the *putting-it-all-together* lesson.

With regard to the plotting, it would maybe be beneficial to learn people how make Pandas based plotting using the object oriented approach of matplotlib instead of the `plt.***` approach of plotting (and requirement of closing plots). e.g.
[code]
As such, it

[2018-05-31 12:51] #266 closed

[2018-05-31 14:31] maxim-belkin commented on #289
Quick `grep` returned: [01-short-introduction-to-Python.md](https://github.com/datacarpentry/python-ecology-lesson/blame/gh-pages/_episodes/01-short-introduction-to-Python.md#L9)

[2018-06-01 02:16] #279 closed

[2018-06-04 20:20] gaurav opened #293 "Add instructions for saving figures to Matplotlib lesson"
I like that the [*Making Plots With ggplot* lesson](http://www.datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python/index.html) includes instructions on saving the generated plot, which provides an output that students can incorporate into their own work. I think we should extend the [*Data Ingest and Visualization - Matplotlib and Pandas* lesson](http://www.datacarpentry.org/pyt

[2018-06-04 21:55] trallard commented on #293
Hi!

I like the idea. Although there have been other discussions about adding plt.close( ) or substituting the use of matplotlib for pandas.plot( )

#277

Although I suppose for completion and since this is not too big a contribution would you like to add this to the lesson?

Or would you prefer me marking this as up for grabs?

[2018-06-06 09:24] Jaredabera opened #294 "Content Issue in Python Ecology-Short Introduction to Programming in Python"
In the Objectives where its expected of the students to describe the advantages of using programming vs. completing repetitive tasks by hand, there its the end of the lesson. There should be some clarity about the concepts. As of the content the students are obliged to go somewhere on and read about programming and its use.

[2018-06-07 22:31] maxim-belkin commented on #294
Hi @Jaredabera. Thanks for the report. I agree that the stated objective is not pursued. At the moment, the quick and dirty solution would be to remove the objective. Then, add that objective along with an explanation back -- all in a single Pull Request.

[2018-06-08 13:48] trallard commented on #294
This is a duplicate of #289  so I will go and close said issue

[2018-06-08 13:48] #289 closed

[2018-06-11 20:40] fmichonneau opened #297 "Transition to standardized GitHub labels"
The lesson infrastructure committee unanimously [approved](https://github.com/carpentries/lesson-infrastructure/blob/master/2018-05-23-minutes.md#github-labels-to-use-across-our-lessons) the proposal of using the same [set of labels](https://docs.carpentries.org/topic_folders/maintainers/github_labels.html) across all our repositories during its last meeting on May 23rd, 2018.

This repository has

[2018-06-17 17:59] gaurav commented on #293
Sorry for my slow reply! I'm not familiar enough with PyPlot and Jupyter to write about the best practice for exporting figures from it, but I'm glad you've posted this as a "help wanted" post! If nobody's tackled this in a month or two, let me know and I'll take a bash at it!

[2018-07-02 17:50] kokbent opened #306 "Incompatible file (SQLite) among different download links"
This is regarding the download links for data files in the setup page: http://www.datacarpentry.org/python-ecology-lesson/setup.html

The portal_mammals.sqlite file from the figshare (the teaching database), is not the same as the one you get from the following download links that are provided in the same section:
1. http://www.datacarpentry.org/python-ecology-lesson/data/portal_mammals.sqlite
2.

[2018-07-02 18:04] maxim-belkin commented on #306
@kokbent, I'm not sure what caused this discrepancy but in order for the lesson to be complete, it has to provide data files. The two "links" that you specify point to the same data -- just two different ways to get it.
In the notes to the data on `figshare` page, it says that the data is, actually, stored on GitHub at https://github.com/weecology/portal-teachingdb

So, here is what we can do:

1.

[2018-07-12 22:48] wrightaprilm commented on #306
Thanks for your patience on this; I've been traveling. I'm somewhat confused by the issue here. As @maxim-belkin notes, these two links point to the same data. A diff of the two shows them to be the same, and it looks like they have the same columns. Could you link to the workshop webpage? I'd like to reproduce the error myself.

[2018-07-12 23:19] kokbent commented on #306
Here's the "Data" section of the setup page: https://datacarpentry.org/python-ecology-lesson/setup.html

We will use the eight files listed below for the data in this lesson. Download these files to your computer either by clicking this link , which will give you everything in a single compressed file. You’ll need to unzip this file after downloading it.
Or download each file indvidually with the

[2018-07-13 13:20] wrightaprilm commented on #306
Ah, I see now. The figshare is a raw version of the portal DB, which gets converted for use with a python script. The surveys.csv and sqlite file we use are the outputs of the conversion. So this is here for data citation, not necessarily to download and use. So I propose we change the wording from "Data for this lesson is from the Portal Project Teaching Database - available on FigShare." to "Dat

[2018-07-13 18:49] kokbent commented on #306
From a workshop instructor point of view, is it possible to change the SQLite database here to that of Figshare's version? I had half of the learners sticking to the "python version" rather than the "figshare version" (the one that is used in the SQL lesson, see https://datacarpentry.org/sql-ecology-lesson/setup.html) because they thought the SQLite file they got from the python lesson would be th

[2018-07-17 13:57] #297 closed

[2018-07-17 21:17] wrightaprilm commented on #306
Oh, interesting, I didn't actually realize that the SQL lesson was doing something different (R uses ours). That seems like a fine strategy to me. @trallard and @maxim-belkin on board?

[2018-07-17 21:18] maxim-belkin commented on #306
I think this issue should be escalated to CAC

[2018-07-20 19:43] fmichonneau commented on #306
The CAC for the Ecology curriculum hasn't been established yet. I'm happy to provide guidance in the interim. I'm also CC'ing @tracykteal in she wants to chime in.

I'd suggest the python lesson get modified to use the version of the SQLite file that is hosted on Figshare. In general, none of the Data Carpentry lessons should host their own data files and instead rely on data hosted on Figshare.

[2018-08-03 21:11] wrightaprilm commented on #306
OK, I moved the setup to FigShare links on [my fork](https://github.com/wrightaprilm/python-ecology-lesson). We use a couple files for join and the capstone that aren't on Figshare. Two files (surveys2001 and surveys2002) are provided as examples of output. I think we should:

- Run through the lessons quickly and make sure they work with the Figshare data before merging
- Move surveys2001 and 200

[2018-08-07 01:53] raybellwaves opened #307 "Instructor notes out of date"
Are the instructor notes out of date for the lesson?
http://datacarpentry.org/python-ecology-lesson/guide/

For example, the first few lines in the instructor notes mention how to download python on MacOS using homebrew. Whereas, in the lesson the instructions are to download python using anaconda/miniconda https://datacarpentry.org/python-ecology-lesson/setup.html

[2018-08-07 14:58] raybellwaves opened #308 "SQL lesson wrong syntax"
https://datacarpentry.org/python-ecology-lesson/09-working-with-sql/index.html

Under the section 'Queries` the code is

[code]
(the `import sqlite3` command doesn't need to be run again).
The output is:

[code]

[2018-08-07 15:24] #308 closed

[2018-08-07 15:32] wrightaprilm commented on #307
You are correct. Merging #305 took care of most of this. I'll handle the installation issues right now, but I'm going to keep this issue open for two things:

- [ ] plotting lesson instructor guide
- [ ] SQL lesson instructor guide

Contributing to either of these would be a fantastic instructor training checkout exercise!

Thanks for noting this - I'm sure a future new instructor looking for a ch

[2018-08-07 15:43] #251 closed

[2018-08-07 15:43] #278 closed

[2018-08-07 15:44] #187 closed

[2018-08-08 04:44] jtande commented on #294
I pushed a sample code that parses the output file of the top command to extract the load average after 1, 5 and 15 minutes. The out put is written to a .csv files. This Describes the advantages of using programming vs. completing repetitive tasks by hand. My data file was 121Mb but I reduced it to 41 very long lines. Obviously, the data is not an ecological theme but if you have a raw file that i

[2018-08-15 22:36] anthonysuen commented on #20
Would like to say that Binder is probably the best solution to get a Jupyter notebook running with one click.

[2018-08-28 21:24] Patdi opened #311 "Suggestions for Short Introduction to Programming in Python"
For example.py is it worth showing a shebang at the top of the file and explaining what it means?

In the Python in the Short Intro Indentation section it would be helpful to include that indentation is achieved by either hitting the tab key or three spaces but not both within one script.

[2018-09-17 17:57] wrightaprilm commented on #20
I wanted to return to this conversation, because of @katrintirok's email to discuss. Perhaps @fmichonneau would have some ideas about this. Binder is great, but learners can't save their notes in the notebook and stuff and come back to it later (can save notes and download). JupyterHubs, on the other hand, are very easy to spin up and get rolling pretty quickly (I use [the littlest jupyterhub ](ht

[2018-09-17 18:17] remram44 commented on #20
I have to agree, Binder offers no persistence, which means that your notebook will disappear if you stop looking at it for long enough (you will also lose your notebook from the first to the second day of lessons, unless you explicitly export and import it). It is a great service for playing with data and code, but not so much as a working environment for a longer period such as two-day workshop.

[2018-09-17 18:20] wrightaprilm commented on #306
Alright, so we've changed over so the text goes to an download of the data off FigShare, as opposed to relying on getting the data off github. [The Boulder Creek](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/data/bouldercreek_09_2013.txt) data was contributed by you, @lwasser, I think? Could you point @fmichonneau to the original source of the data?

[2018-09-17 18:50] lwasser commented on #306
i don't remember contributing these data to this lesson or working on it (unless it was forever and ever ago??) ...BUT i recognize the data and the data are NWIS data and you get them here

https://waterdata.usgs.gov/nwis/inventory?search_station_nm=Boulder&search_station_nm_match_type=beginning&state_cd=co&format=station_list&group_key=NONE&list_of_search_criteria=state_cd%2Csearch_station_nm you

[2018-09-17 18:57] wrightaprilm commented on #306
It would have been about 3.5 years ago now ...  so forever;) @fmichonneau, let me know if this is what you need!

[2018-09-17 19:00] lwasser commented on #306
My goodness how time flies. Well I can help get the data so just let me know if you can’t find it. You’ll have to find the right site and then you can subset to whatever time period that you’d like. Also I think the raw data will have a big header at the top. There could be a little r API wrapper for these data. There is a python one.

[2018-09-21 19:34] #293 closed

[2018-10-05 18:47] drlabratory commented on #270
Having just run into this in the R version, this warning happens when you run the code on data that hasn't been filtered. The fact that PX and RX (and others) are in the example plot suggests that`surveys_complete = surveys_complete.dropna()` was not run before running the answer code.

[2018-10-05 18:57] wrightaprilm commented on #270
Thanks for finding the issue here, @drlabratory. Since we've restructured the lessons and this code no longer appears anywhere, I'm going to call this one "Mystery Solved 👻" and close it up!

[2018-10-05 18:57] #270 closed

[2018-10-05 19:06] maxim-belkin commented on #270
Shall we add info about this to instructor notes?

[2018-10-05 19:11] wrightaprilm commented on #270
I have mixed feelings - in the new lesson, not dropping NA will be an issue. For the first several plots, p9 drops them for you. For the facets, it returns an error. But the drop statement is in the same cell as the read in statement. So my inclination is either "no", or that such info should go directly into the lesson.

[2018-11-08 14:45] orchid00 opened #324 "Translating python-ecology-lesson into Spanish"
Hello maintainers @wrightaprilm @trallard,

I've been working with a group of people into translating SWC lessons into Spanish. We would like to start translating a DC lesson (ping @ErinBecker). Since we already translated an R lesson a Python lesson seems to be a good start for this new project.
I would like to hear your thoughts before making a copy of this repo. Is this a good time? or are ther

[2018-11-08 15:32] wrightaprilm commented on #324
Hi @orchid00 -

@raynamharris had mentioned you might be in touch - so glad to see this project moving forward. We recently revamped the plotting and capstone lessons. They've survived their first contact with learners, so I think we shouldn't have major changes in the pipeline (@maxim-belkin, does this sound right to you?).

It's the end of the semester crunch time here, so I'm likely to be a big

[2018-11-08 17:41] orchid00 commented on #324
Thanks @wrightaprilm. Yes I use slack, I'm not on that channel -yet- but, I'll join :+1: I also thought to leave this issue open for any comments from the community.

[2018-11-08 18:52] wrightaprilm commented on #324
OK, sounds good. I'll tag this with some labels to let community members know they are welcome to discuss and participate.

@ErinBecker, I know there was a little discussion on the maintainers channel about GitHub integration with the lesson slack channels. It sounds like that might be helpful for keeping external folks (like Paula) up-to-date as they work on this task. Is it a possibility to enab

[2018-11-09 10:12] orchid00 commented on #324
Perfect @wrightaprilm! @trallard for the time being I just wanted to bring your attention to a few open PR's https://github.com/datacarpentry/python-ecology-lesson/pulls maybe it is possible to merge some of them. I've read all of them seem valid improvements, but also have some merge conflicts.
If you guys decide to leave them for a later revision or for further discussion, that is also fine. Ple

[2018-11-09 15:09] wrightaprilm commented on #324
There are a few open PRs ... they're mostly instructor check-out exercises no one bothered to respond to reviews on. I'll merge #312 at the end of the day today (in about 8 hours) if no one raises additional issues on it.

Very exciting stuff!

[2018-11-09 18:08] maxim-belkin commented on #324
@orchid00, please record the hash (commit id) of this repository when you begin translating it. All translators should then `git checkout` that hash when working on translating it. Once you finish translating the lesson for that hash, release it and begin translating up to the latest hash again. There is no need to rush-merge pull requests in this repository.

[2018-11-09 18:13] maxim-belkin commented on #324
@wrightaprilm, I'm not sure that all of the labels that you added are applicable to this issue. I'd say this is an example of cross-repository work and we don't have good labels for that kind of stuff.

[2018-11-09 18:14] raynamharris commented on #324
Please see https://github.com/Carpentries-ES/python-ecology-lesson-es.

[2018-11-09 18:17] raynamharris commented on #324
It looks like this was the last commit e9cd8d562011631f59328e2b22a0ecee7148b9ab

[2018-11-09 18:20] raynamharris commented on #324
Also, quick question @maxim-belkin, what is the purpose of recording the hash? Is it to keep up with PRs that y'all merge after we begin translating? Note that we anything we translate will  not need to be incorporated back into the english version. After the translation, we might have some lesson development going on (like fixing keywords) but that's down the road.

[2018-11-09 19:07] orchid00 commented on #324
Hi @maxim-belkin @raynamharris, just letting you know, the repo is not a fork, it is imported. This has been consulted with Curriculum Development lead! :D

Sorry @maxim-belkin i don't know what this means "All translators should then git checkout that hash" and.. to be honest I don't think we need that. We had translated three lessons without doing that. But there is room for a simpler explanatio

[2018-11-10 20:55] orchid00 commented on #324
Hi @wrightaprilm, I discovered how to link slack with github, it is an app. I tried to add it but It seems like 10 apps is the maximum number of apps in a free slack account. Sadly there's already 10 apps.
@ErinBecker will there be any app we could get rid of? Also, just putting it on the plate, maybe some funding directed to slack will be worth investing in.

[2018-11-12 10:05] rgaiacs commented on #324
I think the correct word is "has many restrictions". GitHub only allows one fork per repository so in the scenario that Alice and Bob are going to translate lesson X to language Y. They already have a fork of X that is render in https://github.io/. To translate X to Y and have it render in https://github.io/ they will need to import and not fork. But when Alice and Bob want to collaborate, their i

[2018-11-12 21:52] orchid00 opened #326 "Little improvements, typos, comments etc to episodes"
Hi maintainers, while translating the lesson, we found some little typos and comments missing. I have suggested to send pull requests to this lesson (as it is the original lesson).

Would you welcome PR with these kind of small fixes? linked with this issue
Or would you like to have one open issue for each PR?

[2018-11-13 15:50] maxim-belkin commented on #326
Hey, @orchid00!
No need to create issues - proceeding with pull requests is fine. Personally, I prefer to deal with typos on a pr-per-episode basis.

[2018-11-19 00:10] sheraaron opened #329 "Lesson Contribution - Felesia A. Stukes"
The recommended change is highlighted below.

Starting in the same spot

To help the lesson run smoothly, let's ensure everyone is in the same directory. This should help us avoid path and file name issues. At this time please navigate to the workshop directory. If you working in Jupyter Notebook (formerly called IPython Notebook) be sure that you start your notebook in the workshop directory.

[2018-11-21 18:36] wrightaprilm commented on #329
We've always been a bit vague on how to start the Jupyter Notebook, mainly due to the differences between Windows and Mac.  Was Felesia looking to insert this language in the setup, or instructor's guide? I'm going to bring this up in the maintainer's meeting today; since there are now more Data Carpentry Python lessons being incubated, perhaps there ought to be a uniform set of materials we all d

[2018-11-27 20:55] orchid00 commented on #149
hi @wrightaprilm

I found little typos on the guide, section Checking installations
it should refer to  `_includes/scripts`

[2018-11-27 22:43] #149 closed

[2018-11-27 22:43] orchid00 commented on #307
hi @wrightaprilm

I found little typos on the guide, section Checking installations
it should refer to _includes/scripts

[2018-11-27 22:51] wrightaprilm commented on #307
Oh, thanks for condensing this under an existing issue. I went ahead and committed a fix to this.

[2018-12-04 12:21] ousodaniel opened #349 "Typo"
Please delete the text below before submitting your contribution.

---
Article "an" for "a" in line #62 of python-ecology-lesson_episode 3_03-index-slice-subset.md
---

[2018-12-04 15:24] #349 closed

[2018-12-04 15:24] maxim-belkin commented on #349
Thank you, @ousodaniel!

[2018-12-04 16:21] #326 closed

[2018-12-04 17:33] wrightaprilm commented on #306
ping @fmichonneau. This is back on my radar since now we have two sets of lessons using the same data (dc-py-es). It would be great if we could move away from GitHub and to Figshare, and apply that solution to both repos.

[2018-12-07 20:10] yipcma commented on #20
Regarding online coding environment I have three thoughts:
1. Google Collab would be a useful environment especially tied to google drive it would make it easy for gmail users to manage their notebooks.
2. Another venue could be Kaggle kernels, they come with the benefits of a growing repository of open data that can be easily be loaded all in one place.
3. Potentially creating lessons using datac

[2019-01-15 13:49] alexetnunes opened #351 "Using the "attribute" syntax for accessing columns, and issues related to reserve words"
In the [indexing, slicing, etc. lesson](https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html) the two methods to access a single column of data are mentioned, using square brackets and accessing it like an attribute.

However, if a column is named the same as method it cannot be accessed as an 'attribute'. The result changes, either returning an error or returning the b

[2019-01-16 16:08] wrightaprilm commented on #351
Ah ... I don't believe we ever discuss reserve words. This might be a good place to do it. I'll change the name of this to indicate that this would be a good checkout-issue.

[2019-01-16 17:17] maxim-belkin commented on #351
This is even a more interesting use-case. Although one can do `list = [1, 2, 3]`, they would then be unable to execute `list(sometuple)` or even `list()` (to create an empty list)...

[2019-01-30 17:42] tmorrell opened #356 "Timing and questions for section 01"
There is no timing for section 01.  Perhaps 30 mins?  The questions are the same as section 00, they could be something like "What are the basics of programming in python?".

[2019-01-31 21:34] wrightaprilm commented on #246
I was looking back, and I think we're solved on this issue. I'm going to close it.

[2019-01-31 21:34] #246 closed

[2019-01-31 21:35] #254 closed

[2019-01-31 21:37] wrightaprilm commented on #221
Superseded by #306.

[2019-01-31 21:37] #221 closed

[2019-01-31 21:47] #329 closed

[2019-02-04 18:15] gcapes opened #357 "Ep1: Contradiction in working directory guidelines?"
This section appears to suggest keeping everything in one folder, before going on to recommend organising into subfolders. The wording probably just needs tweaking but I don't think it makes sense as it stands.

https://datacarpentry.org/python-ecology-lesson/00-before-we-start/index.html#research-project-best-practices

[2019-02-04 18:26] gcapes opened #358 "Ep0: SciPy keypoint not covered in lesson text"

[2019-02-05 20:10] wrightaprilm commented on #357
Right, we've been in a bit of a holding pattern with this. We're meant to be moving to a solution where data are stored on FigShare, but we still have one file (bouldercreek) that isn't on the FigShare. Once @fmichonneau has that added in, we'll do an audit to make sure the data instructions are clear.

[2019-02-05 20:45] wrightaprilm commented on #358
Good catch. If anyone is looking for an instructor training checkout exercise, revising the keypoints and learning objectives on 00 would be a good one.

[2019-02-07 15:21] gcapes opened #359 "Ep1: No explanation of 'hashable'"
https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html#dictionaries

[2019-02-07 15:26] gcapes opened #360 "Ep1: Better choice of dictionary keys"
https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html#dictionaries

When introducing a dictionary, numeric keys are used. This confuses things slightly because it makes it seem that dictionaries can be indexed in the same way as lists, using numbers. I think it would be clearer to use something text-based for the first example.

[2019-02-07 15:47] gcapes opened #361 "Move solutions to exercises back to episodes"
At least in the early episodes, most exercises don't have solutions.

[2019-02-07 15:53] gcapes opened #362 "Ep2: Statistics challenge relies on untaught knowledge"
https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html#challenge---statistics

This exercise looks like it's asking the learner to use `len`, but this hasn't be taught yet (has it?).

[2019-02-07 16:08] gcapes opened #363 "Ep2: Code block colour for output is same as for source code"
The markdown looks correct, but the python source code has the same colour boxes as the output. In the SWC lessons it's black for the output and purple for the input. Does it need a update from the styles repo perhaps?

[2019-02-07 16:31] gcapes opened #364 "Should this be followed using jupyter notebook, spyder or interactively?"
These options are all mentioned in the setup episode, but no instruction is given. The output suggests this should be followed interactively, given `print` isn't required to print a variable in many of the examples.

Perhaps explicit instruction should be given how to follow the notes, or the notes should be written such that they can be followed equally whichever choice is made?

[2019-03-03 21:29] rgaiacs opened #366 "pd.unique(df['column_name']) vs df['column_name'].unique()"
https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html says

I think that use [`df['column_name'].unique()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html#pandas.Series.unique
) helps students to make more mental connections. For example, `surveys_df` is my data, surveys_df['species_id'] is one column of my data and in Python it is o

[2019-03-12 03:41] wrightaprilm commented on #366
If I'm being honest, I don't think `Series` objects had the `unique` attribute until a few months after the first draft of this lesson, and probably this just never got changed. I would be fine with a pull request to change this if you would, @maxim-belkin

[2019-03-14 17:15] maxim-belkin commented on #366
This is in sync with what we do in swcarpentry/python-novice-inflammation: use module functions rather than object methods: https://github.com/swcarpentry/python-novice-inflammation/pull/244#issuecomment-201909951
I think it makes sense to use the same approach ( `pd.unique(...` ) in this lesson as well.

[2019-03-14 18:05] maxim-belkin commented on #366
There is an interesting note, however:

:)

[2019-03-14 18:39] wrightaprilm commented on #366
OK, so: Moving forward, @rgaiacs, would you like to pull request against both this repo and the swc-inflammation with this change?

[2019-03-14 19:19] wrightaprilm commented on #364
This is sort of the perpetual thorn in our side. There are so many more ways to get at Python than many of the other lesson languages. The instructions we use are shared with SWC [data and plotting](http://swcarpentry.github.io/python-novice-gapminder/setup/) lesson and the [dc-py-es](https://datacarpentry.org/python-ecology-lesson-es/) lesson. The inflammation lesson uses [these](http://swcarpent

[2019-03-18 18:30] ethanwhite commented on #364
I don't have time to contribute meaningful work on this at the moment, but happy to provide historical context on specific things as you go if that proves to be useful. As a starting point I'll say that the initial work we did on making installation and setup much more stable and straightforward in 2012 was I think critical to the long-term success of the Carpentries. I think any time that folks h

[2019-03-21 18:49] wrightaprilm opened #367 "Screen Readers and Other Accessibility in Lessons"
Hi folks,

@Kswhitney raised a question on Twitter about Jupyter Notebooks and screen readers and how well they play together. I did some exploring on my Mac, and have not yet looked at PC yet (my office PC is being replaced, a months-long process for some reason).

## Here's what I found:

- When used with Safari, Jupyter Notebooks work quite well with the Mac screen reader app. The integration b

[2019-03-22 16:16] raynamharris commented on #367
This could be worth posting to Jupyter Discourse or the Jupyter  general mailing list (https://jupyter.org/community) as this is a broadly relevant topic. It might catch the eye of someone with more experience/expertise.

[2019-03-25 17:44] wrightaprilm commented on #367
Good idea! Someone tweeted a Discourse thread at me where people were discussing Jupyter accessibility. I'll dig it up and post it there.

[2019-03-31 02:04] maxim-belkin commented on #361
Solution are in the instructor notes... we need to move them

[2019-04-01 02:20] wrightaprilm commented on #361
As they are in the SWC-python? I'm fine with that. The thing to do about this might be to branch, and add all the solutions, then merge so there's a uniform roll-out.

[2019-04-01 02:57] maxim-belkin commented on #361
I meant here: https://datacarpentry.org/python-ecology-lesson/guide/

[2019-04-01 20:03] wrightaprilm commented on #361
Right, but you're proposing to move the answers out of there and into the lesson in a code fold?

[2019-04-01 20:09] maxim-belkin commented on #361
Oh, my apologies -- misread part of your previous response. Yes, this is exactly what I'm proposing (with appropriate modifications, of course).

[2019-04-01 20:39] wrightaprilm commented on #361
@maxim-belkin and I had a brief discussion on this, and we'd like to proceed like so:

1. We will adopt the swc-py style solutions format. See [here](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/01-numpy.md) for an example, about 60% of the way down the page.

2. We would like one PR per lesson adopting this style. Each will be tested by us and merged once each

[2019-04-03 19:06] wrightaprilm commented on #363
Fixed via new template.

[2019-04-03 19:06] #363 closed

[2019-04-04 19:01] ebeagle1 opened #368 "Bad links in Data Analysis and Visualization in Python for Ecologists: Setup"
In the Data Analysis and Visualization in Python for Ecologists: Setup lesson page (https://datacarpentry.org/python-ecology-lesson/setup) the links for download of Anaconda and Miniconda direct to pages that no longer exist.

The following links appear to be the most up to date for download of these programs.
Anaconda: https://www.anaconda.com/distribution/
Miniconda: https://docs.conda.io/en/lat

[2019-04-04 19:35] maxim-belkin commented on #368
Thanks, @ebeagle1.
Would you like to submit a PR fixing these links? I'd be happy to help you with that.

[2019-04-04 21:40] anacost opened #369 "Unintentional image in ggplot lesson graph"
Hi,
I believe the python-ecology-lesson has similar plots as the R-ecology-lesson.
You could discuss the same issue https://github.com/datacarpentry/R-ecology-lesson/issues/520

It would be in your ggplot episode
https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/_episodes/07-visualization-ggplot-python.md

Maybe you have a different solution.

[2019-04-05 16:17] maxim-belkin commented on #369
Hi Ana. Thank you for bringing this issue up to my attention.

This lesson indeed has similar plots. However, I'd like to oppose to the suggestion to act based on such comments unless the reporter can make a strong argument that data was purposefully crafted to look phallic. Here is why.

1. Data are data. Researchers and engineers (and our lesson are designed for them) have to (learn how to) work

[2019-04-05 16:25] wrightaprilm commented on #369
We had a good giggle about this in the maintainer's meeting in January, I think. I have no position on this other than that I am not mature enough to handle it. Whatever others decide is cool with me.

[2019-04-05 18:31] ebeagle1 commented on #368
Yes – that would be great!

From: Maxim Belkin <notifications@github.com>
Reply-To: datacarpentry/python-ecology-lesson <reply@reply.github.com>
Date: Thursday, April 4, 2019 at 2:36 PM
To: datacarpentry/python-ecology-lesson <python-ecology-lesson@noreply.github.com>
Cc: "Beagle, Emily A" <e.beagle@austin.utexas.edu>, Mention <mention@noreply.github.com>
Subject: Re: [datacarpentry/python-ecology

[2019-04-05 19:06] maxim-belkin commented on #368
Great! So, here are the steps:

1. Navigate to https://github.com/datacarpentry/python-ecology-lesson and fork this repository:

    ![Screen Shot 2019-04-05 at 13 38 57](https://user-images.githubusercontent.com/13123663/55649322-3aa2b080-57d2-11e9-9838-74b838d53a60.png)

<br>
<br>

2. Navigate to your fork (it will be located at https://github.com/ebeagle1/python-ecology-lesson)
and create a new

[2019-04-05 19:36] Lazigerbill commented on #368
Fixed submitted, please accept PR =)

[2019-04-05 19:37] maxim-belkin commented on #368
Are you @ebeagle1 ?

[2019-04-05 19:40] Lazigerbill commented on #368
No I am not, currently taking the trainer training course and was looking for ways to contribute as an exercise. ;P
Nice to meet you.

[2019-04-16 21:45] fmichonneau opened #373 "June 2019 Lesson Release checklist"
If your Maintainer team has decided not to participate in the [June 2019 lesson release](https://carpentries.topicbox.com/groups/maintainers/T61c75ac1a8a89538/timeline-and-process-for-june-lesson-release), please close this issue.

To have this lesson included in the 18 June 2019 release, please confirm that the following items are true:

- [x] Example code chunks run as expected
- [x] Challenges

[2019-05-14 22:26] ErinBecker commented on #373
Hi @wrightaprilm @maxim-belkin and @trallard - Just confirming that you're still planning on including your lesson in the June 2019 release. We'll be putting out a blog post tomorrow inviting contributors to work on issues that have been tagged as part of the release milestone, so if there are specific issues you're looking for community help with, please add them to that milestone. I'll go ahead

[2019-05-15 16:56] wrightaprilm commented on #373
Sounds good. It looks like all the help-wanteds are in the milestone, so that's good.

[2019-05-17 13:13] kerchner opened #378 "Fix description of default dropna() behavior"
[Lesson 04](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/_episodes/04-data-types-and-format.md) contains an inaccuracy regarding the default behavior of dropna().  By default, it drops rows containing missing data for any columns (not vice-versa).  See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

Pull request will be forthcoming s

[2019-05-17 15:32] #378 closed

[2019-05-26 10:23] fmichonneau opened #389 "possibly broken URLs"
In preparation for the June 2019 release, we are looking for broken links in the lessons. We identified the links below as possibly being problematic:

[code]

Let me know if you have any questions. Thanks!

[2019-05-27 20:00] wrightaprilm commented on #389
Hi @fmichonneau. Thanks for this. We had also previously discussed moving entirely to not hosting data in the repository. The last remaining files to move to FigShare were speciessubset, a file generated by us from the total data set, and Boulder Creek.  Discussion on this is in #306. Do you have the information you need on these to add them to FigShare?

Just putting the rest into a checklist for

[2019-05-27 21:37] maxim-belkin commented on #389
`setup` is not broken in the online version, just like `guide`

[2019-05-27 22:16] fmichonneau commented on #389
@wrightaprilm I'll try to look again into the data, I think last time I checked was during the government shutdown and the website wasn't fully working.

@maxim-belkin  while online the URL: `https://datacarpentry.org/python-ecology-lesson/setup` works, it won't work for the offline version of the website (which we try to support as much as possible). Using `{% link setup.md %}` in the source shou

[2019-05-27 22:44] maxim-belkin commented on #389
Yeah, that's what I said.

We already have `lesson-setup` in `links.md`

[2019-05-28 00:30] maxim-belkin commented on #389
Almost all links have been fixed.
I wonder why `(guide)` link in `index.md` is not broken locally....

[2019-05-28 06:01] maxim-belkin commented on #389
@fmichonneau, could you please re-run your check tool once again?

[2019-05-30 05:20] kekoziar commented on #369
I'm curious: from a ecology perspective, when would you plot species of different taxonomies against each other? That is, when would you compare birds against rodents against reptiles against rabbits?

[2019-06-03 14:40] fmichonneau commented on #389
everything looks good on my end. Thanks!

[2019-06-03 14:40] #389 closed

[2019-06-03 16:48] maxim-belkin commented on #389
Thanks, François!

[2019-06-03 22:56] ErinBecker commented on #373
Hey Maintainers - just checking in to see if you're still planning on joining the release this month. We're asking that all lessons have completed the checklist by [Tuesday, 4 June, Anywhere on Earth time](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190604T235959&p1=3399) in order to be included in the release. Please let me and @fmichonneau know if you have any questions or are ru

[2019-06-07 19:48] mboisson opened #406 "Reviving the matplotlib lesson"
Hi all,
I have been teaching the python ecology lesson for a few years now. I have been teaching the matplotlib lesson ever since. It used to be
https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/06-plotting-with-matplotlib.md
but it has been deprecated in lesson
https://github.com/datacarpentry/python-ecology-lesson/pull/96

I have looked at the plotnine lesson, and I don't see

[2019-06-07 20:22] wrightaprilm commented on #406
I'm going to level with you: I don't really care which we teach. I use Matplotlib, base pandas, plotnine, and a bit of Seaborn for various things. But the question isn't as simple as what library we're using. I'm going to suggest clarifying this into three pieces:

1. Should we teach grammar of graphics?
2. Is plotnine the best way to do that?
3. How can we accommodate other plotting libraries?

*

[2019-06-07 20:43] mboisson commented on #406
I can see where you are coming from, and it probably makes sense from an ecologist' point of view. However, looking at the current lesson, I don't see any explanation of what is "Grammar of Graphics" (in fact, I had to search online to see what this is about).   It is *mentioned*, but there is no *explanation* of what it is.

From an outsider (not an ecologist) with absolutely no a-priori knowledg

[2019-06-07 21:02] mboisson commented on #406
I have been reading on the topic, pondering the ideas, and discussing with an ecologist colleague. I can now see why you chose to go with a "ggplot-style" library, because of Grammar of graphics.

While I can't wrap my head around the syntax that GG imposes, and I will probably stay with matplotlib, I can see value in the GG concept.

I would however urge the authors of the lesson to actually expl

[2019-06-07 21:38] wrightaprilm commented on #406
Ha, the weirdness of ggplot doesn't even ping for me any more. When I started my PhD in evolutionary biology, the ecosystem was split about evenly between R and Python. ggplot was pretty popular, but exploded in popularity after the release of 0.9.0. I've spent my whole career going back and forth that all the weirdness has diffused through my consciousness.

But you're not the first person who is

[2019-06-08 09:27] stijnvanhoey commented on #406
Interesting discussion and valid remark about the lack of a proper GoG explanation.

I've been supporting the introduction of the GoG concept as it is indeed well known in the ecological community (due to the ggplot popularity) and it is - also in general - a very powerful concept. It provides a more declarative approach of creating plots (e.g. `facet_wrap` versus `for ax in axes: ax.plot(`)) base

[2019-06-11 23:07] ErinBecker commented on #373
Awesome work @wrightaprilm @maxim-belkin @trallard and everyone else who contributed! This is just a quick message confirming that this lesson will be included in the release that @fmichonneau and I are preparing this week. The release is scheduled to go through on the 18th and to be announced to the community on the 24th. Please let us know if you have any questions! And congratulations again!

[2019-07-01 08:16] fmichonneau commented on #373
lesson released! :tada: https://doi.org/10.5281/zenodo.3264812

[2019-07-01 12:34] wrightaprilm commented on #373
Hey all, how exciting!

It does look like something went a little funny in the authors/editors import. The former maintainers are listed as editors, but not the current ones. Likewise, it looks like the contributors list didn't update since the 2017 release. I'm a little jam-packed today (hello, returning after conferencing!), but I might have some time in the afternoon (US-Central) if my interven

[2019-07-01 15:08] ErinBecker commented on #373
Thanks for letting us know about the issue @wrightaprilm. We're looking into this right now.

[2019-07-01 15:48] ErinBecker commented on #373
Thanks again for taking a look at the release and noticing the problem @wrightaprilm. @fmichonneau has re-done the release with the correct set of contributors and Maintainers, and it should be correct now! Here's the new doi: https://doi.org/10.5281/zenodo.3265185.

[2019-07-01 17:18] wrightaprilm commented on #373
It looks good to me! Thanks so much for promptly getting on this.

[2019-07-01 17:18] #373 closed

[2019-07-31 08:30] jensentobias opened #409 "Missing data files in setup"
There seems to be missing some data files for episode "[Combining DataFrames with Pandas](https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html)" as described in the episode "[Setup](https://datacarpentry.org/python-ecology-lesson/setup.html)". In particular

Files `survey2001.csv` and `survey2002.csv`:
Used in episode "Combining DataFrames with Pandas", but not on the mention

[2019-07-31 11:37] Benfeitas opened #410 "Issue in episode 4 (data types and formats): replace with means of a df"
Note the line `df1['weight'] = surveys_df['weight'].fillna(surveys_df['weight'].mean())` in [episode_4](https://raw.githubusercontent.com/datacarpentry/python-ecology-lesson/gh-pages/_episodes/04-data-types-and-format.md).  [Or the web version](https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html)

I'm thinking that this should be

`df1['weight'] = surveys_df['weight

[2019-07-31 14:29] Benfeitas opened #411 "Ep8: Issue when using numpy"
In [episode 8](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/_episodes/08-putting-it-all-together.md), `numpy` is imported as `import numpy` but then the `beta` distribution calls it with `np`. So it raises the import error for `np`.

`beta_draws = np.random.beta(a, b)`

Either `import numpy as np` and fix other lines where it is used; or fix `beta_draws = numpy.random.beta(

[2019-08-02 02:58] mondorescue opened #414 "episode 8 challenge question style fix"
I've noticed that the Pandas and matplotlib challenge question style/format was not rendering correctly, so I've made a pull request #413 to address it.

[2019-08-03 20:31] maxim-belkin commented on #414
Thanks for fixing this, Brian! 🎉

[2019-08-03 20:31] #414 closed

[2019-08-07 12:14] wrightaprilm commented on #409
Yes, we've been in the process of trying to sync the data files to the Figshare for a bit. We've included the files `surveys2001.csv` and `surveys2002.csv` in the repository so the instructor can provide them if any participants have issues. But since they're expected to be generated, we've historically left them out.

The `speciesSubset.csv`, on the other hand isn't part of the "canonical" Portal

[2019-08-07 12:23] wrightaprilm commented on #410
Is that necessary since we're writing to a copy? Not opposed, just curious.

[2019-08-07 12:23] #366 closed

[2019-08-07 12:24] wrightaprilm commented on #411
I caught this after teaching last month, and then forgot to fix it. I'll sort that out now.

Thanks!

[2019-08-07 12:24] #411 closed

[2019-08-07 12:26] Benfeitas commented on #410
@wrightaprilm In this case I think it is safest to specify `.copy()`: not doing so may modify `surveys_df` which is the original df right?

[2019-08-07 13:08] wrightaprilm commented on #410
You're probably right. I'm not as good as I should be about making copies of dataframes. When you call `.copy()` without an assignment, is that copy ephemeral? I'm looking at this and thinking that maybe what we should have is a small reminder box:

{: .callout}

on copying. When to do it, scope of copied objects, etc. That's not a commitment that you have to make it - I can toss it in our contrib

[2019-08-22 20:43] #311 closed

[2019-09-05 06:26] Benfeitas commented on #410
@wrightaprilm sorry for the delay in coming back to you.

To be honest, I'm not sure what happens behind the scenes when you do `.copy()`, but I think this creates a new object in memory, and thus any changes that you do to `df1` will not be carried to `surveys_df()`. I've learned this the hard way in other occasions: sometimes, when I didn't do `.copy()`, and masked or changed my `df1`,  the chan

[2019-09-13 22:34] maxim-belkin commented on #409
Figshare and zip archive are related (through https://github.com/weecology/portal-teachingdb):

_from the Figshare page_:

[emphasis added]

Zip archive is just a an archive of the master branch of that Git repo. My understanding is that Figshare is occasionally synchronized with the Git repo. So, in a sense, we should treat links to that Git repository and Figshare equivalently.

As a quick-fix w

[2019-09-16 19:32] maxim-belkin commented on #410
Apologies for joining the discussion so late.

So, I think there is some confusion...

When dealing with DataFrame selections -- yes, we have to be careful as we might end up modifying the original data set (e.g. _view_ or a _reference_). However, we've got `.fillna()` method which, unless `inplace = True` is specified, returns a copy of the  DataFrame being processed.

After a brief look at the s

[2019-09-19 09:33] jensentobias commented on #409
Ok. From your feedback it seems that you will be interested in a PR where survey2001.csv and survey2002.csv are added as links on the setup episode, emphasizing that not all data are available via Figshare nor the zip archive. Later we could work on making the lesson self-consistent.

If you agree, and will prepare a PR.

[2019-09-19 17:09] maxim-belkin commented on #409
Yes.

[2019-10-06 10:07] dpshelio opened #423 "topic for the repository"
Please, consider adding a `lesson` topic to the repository. To do so you can [follow the help about how to add topics to the repository](https://help.github.com/en/articles/classifying-your-repository-with-topics). Check out the topics that the [Genomics R intro lesson](https://github.com/datacarpentry/genomics-r-intro) has gotten to add others that may be relevant to this lesson.

This will help

[2019-10-06 16:54] maxim-belkin commented on #423
Only those with admin privileges can do that. Lesson maintainers have "write" access only. This is different from admin-level access. Please report this "upstream", which I think in this case means @fmichonneau, @ErinBecker, and @maneesha.

[2019-10-06 16:54] #423 closed

[2019-10-06 19:07] #410 closed

[2019-10-10 05:44] fmichonneau commented on #423
Adding GitHub Topics is not within the scope of the GitHub permissions for Maintainers. We are coordinating an effort to standardize GitHub Topics across all our repositories. We are seeking input and feedback from Maintainers on the list of proposed topics. Please see the Request For Comments (RFC) in this GitHub issue: https://github.com/carpentries/maintainer-RFCs/issues/5

[2019-12-10 13:07] maneesha opened #424 "More explanation of modulo"
The episode [Short Introduction to Programming in Python](https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html) notes that

I don't think most people would consider `modulo` to be a basic operator.  I would recommend some more explanation of what modulo does.

[2019-12-10 13:12] maneesha opened #425 "Ordered items in dictionary?"
The episode [Short Introduction to Programming in Python](https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html) notes in the key points at the end:

However it is not actually noted in the lesson whether dictionaries are ordered.  Also, as of Python 3.7, a dictionary's ordering is preserved (https://docs.python.org/3/library/collections.html).

[2019-12-10 13:15] maneesha opened #426 "Reminder that plotnine is not part of Anaconda"
In the [Making Plots With plotnine](https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python/index.html) lesson, there is a disclaimer that shows how to load `plotnine`.

I would recommend also mentioning here a reminder that `plotnine` is not in the standard Anaconda package and needs to be installed separately.

[2019-12-10 13:27] maneesha opened #429 "Ordering of left/right does not matter for *any* join"
The [Combining DataFrames with Pandas](https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html) notes that:

However, this is true of all joins.  I would suggest modifying this text to reflect this.  Otherwise it is misleading and implies that it may matter for other types of joins.

[2019-12-10 15:48] maxim-belkin commented on #424
I agree. Would dropping it here be a reasonable alternative to explaining it?

[2019-12-10 16:28] maxim-belkin commented on #425
Thank you, Maneesha. This discussion resurfaces from time to time. I think it would be best to remove the word "unordered" here. What do you think?

[2020-01-18 19:18] maneesha commented on #425
Yes, that sounds good!

[2020-01-18 19:19] maneesha commented on #424
Either way would work from my perspective.  It could be useful to know, so it may be worth introducing.  However, that may make this lesson longer so I'm fine dropping it as well.

[2020-01-18 19:23] maneesha opened #436 "Correctly link to other lessons when they are referenced"
In the [indexing and slicing lesson](https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html), there is a place where it says

Generally speaking, if other lessons are referenced, these should be linked to, so that it is easier to quickly navigate to that lesson.

Also, in this case, it is [lesson 4](https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/

[2020-01-19 07:02] maxim-belkin commented on #425
This issue has been addressed in #433

[2020-01-19 07:02] #425 closed

[2020-01-23 15:04] katrinleinweber commented on #364
Has anyone else been mulling over [Joel Grus' "I don't like notebooks" talk](https://twitter.com/joelgrus/status/1044318416012750850)? Maybe recommending Spyder is the best compromise, because it has all the interactivity that JNs have (plus inline plots) but it's also a bridge towards other IDEs like [PyCharm (Community or Edu even has interactive tutorials for further self-study)](https://www.je

[2020-01-23 15:48] maxim-belkin commented on #364
Yes, I saw that talk and even invited Joel to talk about it more some time ago... (got no response). I have no objections to listing Spyder on the same page as Jupyter Notebooks.

[2020-01-23 16:33] katrinleinweber commented on #364
I presume he said what he wanted to say in his talk ;-)

[Spyder started pushing an extension](https://www.spyder-ide.org/blog/spyder-kite-funding/) along with its installer, though. Reeks of adware, but it seems to emulate what PyCharm has built in. I'm beginning to understand why this issue is so tricky *sigh*

[2020-01-23 17:56] maxim-belkin commented on #364
There is nothing wrong with spreading worthy ideas. In his talk, Joel highlights a few issues that are important for any IDE out there, Spyder included.

I don't see that extension in Spyder as a problem that should prevent us from listing it as an alternative IDE.

[2020-01-24 23:08] marketneutral opened #443 "Typo in Lesson 3"
Hello, I am using this lesson to teach introductory Python and data analysis to some of my colleagues and it's great! Thank you!

I noticed a typo in [Lesson 3: Indexing, Slicing and Subsetting DataFrames in Python ](https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html)

![image](https://user-images.githubusercontent.com/16124573/73110383-3320d500-3ed4-11ea-86d6-4194edc

[2020-01-28 17:25] #358 closed

[2020-01-28 20:11] #360 closed

[2020-01-28 20:13] maxim-belkin commented on #360
Thanks, Gerard! Very good issue that makes an important point.
Glad we fixed it before its first birthday :)

[2020-02-07 16:56] katrinleinweber commented on #364
Here's a work-around for the most annoying issue in PyCharm with IPython (plots not easily viewable): https://github.com/TIBHannover/python-ecology-lesson/commit/427e91d8aba90ea5c4003dc90d58e5112ab70e12

[2020-02-07 17:17] maxim-belkin commented on #364
This is one of the things that has to change or has to be configurable in Jupyter Notebooks (not in PyCharm): in Jupyter notebooks plots are shown automatically. This is not the default behavior of matplotlib and one has to call `matplotlib.pyplot.show()`. It simplifies lives for programmers who know about it already and can appreciate that they don't need to type yet another function call. But it

[2020-02-07 22:11] caesoma opened #447 "Avoid confusing, potentially ambiguous commands for slicing/indexing data frames"
In episode 3 (https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html, actually listed as 4. in https://datacarpentry.org/python-ecology-lesson/ ), the distinction between `.iloc` method for accessing entries by position and `.loc` to access them by identifier is made, but a third possibility is shown with `surveys_df[0:3]`, which accesses the indices by position.

That co

[2020-02-17 14:13] nettic opened #450 "Broken links in contributing.md"
The contributing.md file has at least 3 broken links. Link to file:
https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/CONTRIBUTING.md

The 3 links are in the section "What to contribute".
"or you may also look at the issues for **Data Carpentry**, **Software Carpentry**, and **Library Carpentry** projects." (broken links are bold).

Wrong links:
Data Carpentry: https://github.co

[2020-02-17 16:11] nettic commented on #424
There is a good example which shows either both of things which I miss here: the if/else statement and the example for modulo:

There is one common use for the Modulo Operator: to find even or odd numbers eg in a range 1 to 10:
for number in range(1, 10):
    if(number % 2 != 0):
        print(number)

The lesson shows the boolean type but no example for the usage. If/else condition would be helpf

[2020-02-17 19:04] maxim-belkin commented on #450
Hi Sebastian,

I'm not positive the links you list above are broken - they bring me to proper locations when I click on them. Why do you think they're broken?

Maxim

[2020-02-17 19:20] nettic commented on #450
Unfortunately, still for me they are broken. See screenshot in a pdf:
[Page not found GitHub.pdf](https://github.com/datacarpentry/python-ecology-lesson/files/4215774/Page.not.found.GitHub.pdf)

[2020-02-17 19:40] maxim-belkin commented on #450
Does https://github.com/issues work for you?

[2020-02-17 19:44] nettic commented on #450
Yes. It shows me my issues (this issue).

[2020-02-17 19:50] gnguyen27 commented on #359
I couldn't find the reference of this issue on the lesson. Is this problem has been fixed and should be closed?

[2020-02-17 19:56] maxim-belkin commented on #450
Could you please try replacing the text in the search box with `user:datacarpentry` and report the full URL you end up at?

[2020-02-17 20:03] maxim-belkin commented on #359
We addressed this in 104cacc. Thanks for the reminder, Gia!

[2020-02-17 20:03] #359 closed

[2020-02-17 20:08] nettic commented on #450
This is my URL: https://github.com/issues?utf8=✓&q=user%3Adatacarpentry

[2020-02-17 20:09] nettic commented on #450
The following works fine, too: https://github.com/issues?q=user%3Adatacarpentry

[2020-02-17 20:18] maxim-belkin commented on #450
Good, this is the URL I end up on too.

So, I'm a bit confused. Do links work for you or not? Previously you said:

And now:

These two links seem identical to me.

[2020-02-17 20:22] nettic commented on #450
Now, it is working for me, too......:-0
I am confused. Sorry!

[2020-02-17 20:24] nettic commented on #450
I realized, that this error occurs, when I am in a private tab and click the links with opening in a second private tab!

[2020-02-17 20:36] maxim-belkin commented on #450
Ah, I see! Yes, one has to be logged in to GitHub to use https://github.com/issues.

Consider raising this issue in the [carpentries/styles](https://github.com/carpentries/styles) repository -- this is where all The Carpentries lessons get CONTRIBUTING.md from. Perhaps, we should add a sentence or two explaining that one has to be logged in (to GitHub) and not in Private browsing mode to use these

[2020-02-17 20:36] #450 closed

[2020-02-17 20:40] gnguyen27 commented on #424
I would suggest to add the example of finding even or odd numbers as an exercise to the section when function is introduced.

[https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/#functions](url)

Provide an example of printing out even number between 1 and 10.

[code]

Exercise:
* Modify the code above to print out odd numbers
* Based on the example code above , write

[2020-02-20 00:29] maxim-belkin commented on #429
I believe order matters for left and right (outer) joins. Could you please clarify your point?

[2020-02-20 19:29] maxim-belkin commented on #426
We do mention it and explain how to install it on the Setup page:
https://datacarpentry.org/python-ecology-lesson/setup.html#download-plotting-package

Nonetheless, it wouldn't hurt to remind learners that they have to install `plotnine` manually. I'm marking this issue as "good first issue" and "help wanted". Thanks, Maneesha!

[2020-02-20 19:41] #351 closed

[2020-02-25 14:53] snownontrace opened #454 "03-index-slice-subset.md: wrong operator shown in Objectives (`=` instead of `==`)"
The 7th item of the Objectives of this lesson (https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/) states:

"Query / select a subset of data using a set of criteria using the following operators: =, !=, >, <, >=, <=."

The first operator should be "==" rather than "=."

[2020-02-25 15:16] maxim-belkin commented on #454
Yes, you're correct, Shaohe. Would you be willing to submit a PR to fix that?

[2020-02-25 16:58] snownontrace commented on #454
Yes! Plus a couple of additional typos I spotted. Will do some time in this
week.

Best,
Shaohe

On Tue, Feb 25, 2020 at 10:16 AM Maxim Belkin <notifications@github.com>
wrote:

[2020-02-25 17:27] maxim-belkin commented on #454
Awesome, thank you!

[2020-02-26 16:44] snownontrace opened #456 "Conflict between estimated timing and schedule"
In the second paragraph of introduction on the lesson main page (https://datacarpentry.org/python-ecology-lesson/), it says "These lessons can be taught in a day (~ 6 hours)" whereas the schedule shows 10 hours.

How about changing to "These lessons can be taught in one and a half days (~ 10 hours)"?

[2020-04-11 10:38] hot007 commented on #307
I'd be happy to have a crack at adding those last two sections to the instructor guide for my checkout process, if that's useful?

[2020-04-11 15:39] maxim-belkin commented on #307
That would be great! Thanks, @hot007.

[2020-04-12 13:21] martinosorb commented on #409
Hi, is this dormant? I have encountered this problem while preparing to teach.

[2020-04-14 15:02] ppxasjsm opened #457 "Setup instructions for python require knowledge of bash"
I believe there is some plan on improving the setup instructions, but I am relatively new to all of this and not really in the know. It seems that the datacarpentry setup instructions for python essentially required knowledge of bash, which is not a given and often confusing at the start.

This may have been discussed elsewhere and though of already (e.g. in issue #276), but would it make sense as

[2020-04-17 19:59] maxim-belkin commented on #457
Hi Toni. Thank you for bringing this up!

We're always open to suggestions!

Which SWC Python lesson do you suggest we use as an example? [Python Novice Inflammation][pni] or [Python Novice Gapminder][png]?

Would you like to work on this change?

[pni]: https://github.com/swcarpentry/python-novice-inflammation
[png]: https://github.com/swcarpentry/python-novice-gapminder

[2020-04-17 20:05] #454 closed

[2020-04-17 20:05] #456 closed

[2020-06-02 18:18] ppxasjsm commented on #457
I'd be happy to implement the change.

[2020-06-05 17:14] #409 closed

[2020-06-05 19:32] maxim-belkin commented on #409
I believe this issue has been resolved in #462.

[2020-06-06 14:14] maxim-belkin commented on #457
That'd be great, thank you!

Side note: the commit that got linked to this issue (titled "includes/links.md: Update PyYAML link") has nothing to do with it. It comes from the carpentries/styles repository which all lessons have to periodically sync with.

[2020-06-07 21:39] maxim-belkin commented on #447
Hi, @caesoma! Apologies for taking so long to respond.

Very good and valid point! I think the best solution would be to make learners aware of this in a form of an exercise or an additional material. Would you be willing to make this contribution to the episode?

[2020-06-07 22:09] maxim-belkin commented on #443
Hi Jonathan. Thanks for creating this issue. This was a rather interesting bug (solved in 79b646b by @jackVanish) caused by Markdown. The paragraph had correct information:

[code]

However, because that "0." was the first thing on the (third) line, Markdown assumed that this was the beginning of a numbered HTML list and rendered it as one, using 1 as its first index. @jackVanish fixed that by enc

[2020-06-07 22:09] #443 closed

[2020-06-07 22:17] maxim-belkin commented on #436
Thanks, Maneesha. Your're correct -- we should definitely link to the next episode. Moreover, we should also fix the wording: here, we're talking about Lesson **episode**, not Lesson itself.

I'm marking this as "Good first issue" and "help wanted"

Thanks for spotting this.

[2020-06-10 00:28] k-rns commented on #457
In addition to this issue, the interpreter part of this episode [Short Introduction to Programming in Python](https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html)  also has a few bash commands, which I found a bit confusing when learning the episode. When installing python with anaconda I could only do this in the anaconda prompt, not the command prompt.

I`m

[2020-06-12 13:00] maxim-belkin commented on #457
Hi Karen,

Yes, this is a good place to put this comment. I guess you're talking about the very beginning of said episode where it says `To start Python in this mode, execute python...`.  I believe that this bit is indeed OS-specific. Aside from changing the narrative, we've got some tools to provide OS-specific instructions but they're very clumsy and require injections of HTML -- see, for exampl

[2020-06-24 03:15] caesoma commented on #447
Hi, sure, I can do that. Let me know what format this exercise should be in.

[2020-06-25 02:41] maxim-belkin commented on #447
Could you please draft a PR modifying existing and adding new text and/or exercise? we could then discuss the details such as format, etc.  And please let me know if you need any help along the way.

[2020-06-29 18:01] ppxasjsm commented on #457
Finally made a pull request, sorry for being so slow about this.

[2020-08-20 23:46] itcarroll opened #471 "Anaconda `scripts` module and the scripts folder"
I ran into a hiccup teaching this lesson while trying to explain the utility of a `scripts` folder. Since python scripts are also modules that can be imported, you can easily use them in root level Jupyter notebooks with a simple `import`. But, there is a gotcha introduced by Anaconda. If you place the `example.py` file described in the lesson within `scripts` the following fails on Anaconda:

[co

[2020-09-16 20:56] cnatalie opened #473 "Confusing dataframe reference"
While reading through the [Starting with Data](https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/) episode, I found the use of `df_object` to refer to a hypothetical python dataframe and actual dataframe `surveys_df` rather confusing without more context. Why not reference the hypothetical dataframe as `DataFrame.attribute` to be consistent with the text description? `df_object

[2020-09-17 23:27] davis68 opened #474 "Teaching feedback"
- I felt like `nunique` was arbitrarily (re)introduced when it was necessary.  It wouldn't be top-of-mind for students solving problems.
- The lesson answers need to be adjacent to the exercises.
- I like the pre-introduction of masks and then circling back around to explain them.
- I feel like Part 4 needs to be broken up and integrated across other lessons:  it felt thin on its own.
- Horizontal

[2020-09-28 20:49] cnatalie commented on #473
Reading through this again - it's very minor and perhaps not an issue if it takes the reader a few tries to follow

[2020-09-28 20:49] #473 closed

[2020-11-23 12:28] nels opened #479 "Typo in Indexing, Slicing & Subsetting episode"
The [Index, Slicing & Subsetting episode](https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/) has a typo in the *Copying Objects vs Referencing Objects in Python* section.

The Python code snippet is
[code]
but then in the following text paragraph it is stated:

It should be

[2020-11-26 00:03] Isaac-Jones commented on #436
I believe this fixed the issue. Also, this is my first time so I'm not sure if you prefer to get a link here or not. https://github.com/datacarpentry/python-ecology-lesson/pull/481

[2020-11-26 16:06] maxim-belkin commented on #436
Thank you, @Isaac-Jones! I'll review your PR in a little bit.

[2020-11-30 21:48] #436 closed

[2021-01-08 03:54] caesoma commented on #447
Sorry for the long delay as well. Finally got around to making the proposed changes.

[2021-02-01 21:17] jeffdotg opened #485 "Introduction of # comments in E2"
I recently taught a demo of Episode 2: Short Introduction to Programming in Python
https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html

Under **Introduction to Python built-in data types**, comments are introduced but not yet explained:

I found myself explaining the # comments here, though they are explained a little further down in this section:

I was wond

[2021-02-01 22:21] maxim-belkin commented on #485
Hi, Jeff!

What you suggest makes sense to me. Would you be willing to open a PR to implement this change?

Maxim

[2021-02-02 13:59] maneesha opened #486 "Lesson refers to data types from R"
The [Starting With Data lesson](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/_episodes/02-starting-with-data.md) refers to data types like characters and factors which are not in Python.  I'm guessing this is a carryover from the R lessons.

`A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point

[2021-04-09 01:37] MathewBiddle opened #490 "Problems with check_env.py"
In preparing for my teaching demo next week :flushed: I've been reviewing the [instructor notes](https://datacarpentry.org/python-ecology-lesson/guide/index.html) for this lesson and came across two problems with [check_env.py](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/_includes/scripts/check_env.py).

1. When I run `python check_env.py` it fails with the message  `Asser

[2021-04-14 14:30] dafnevk opened #492 "Episode 5 outdated"
In episode 5, the first few rows of the `surveys.csv` table show as:
[code]

Could it be that this an outdated version of the dataset and that NA species are now replaced with NL? That means the first line of code:
[code]
Can be shortened to:
[code]
(as in the other episodes)

[2021-04-14 14:45] dafnevk commented on #224
I would suggest as a small 'fix', to make new sub-dataframes for the horizontal stacking, but in this case based on selecting columns. Then you don't need the reindexing and it feels like a more natural use case (although still a bit artificial since we're selecting from the original dataframe).

So we would get:
[code]

[2021-04-22 12:10] mathewsarath commented on #426
This issue is solved.

[2021-04-27 20:11] maxim-belkin commented on #474
Thanks for the feedback / criticism, Neal. Marking this as a "good first issue", so that those who want to contribute to the lesson can work on some of the issues you mention above.

[2021-04-27 22:13] maxim-belkin commented on #490
Thanks for the report, Mathew. I think we're dealing with a few issues here:

1. The "Instructor Notes" page isn't the right place for this kind of information. Perhaps, we should move it to `setup.md`.
2. `_includes/scripts` isn't the right place for this script either (it's hard to find). If we want participants to use this script, it should be provided in the ZIP file that we provide on the set

[2021-04-27 22:15] maxim-belkin commented on #426
Thanks for the ping, @mathewsarath! :)

[2021-04-27 22:15] #426 closed

[2021-05-17 16:49] Talishask opened #494 "Lesson Contribution - starting with data"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

I have a suggestion on the Data Analysis and Visualization in Python for Ecologists (https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html) spec

[2021-06-24 22:13] mlangseth commented on #364
I agree that offering flexibility in what technology instructors choose to use is helpful. I am wondering if it would be a good idea to use "Jupyter Notebook" instead of "IPython Notebook"? I am specifically referring to Episode 02 - Starting with Data: "If you are working in **IPython Notebook** be sure that you start your notebook in the workshop directory."

[2021-06-24 23:15] maxim-belkin commented on #364
Yes, this is a good idea, @mlangseth! I'd appreciate if you could submit a PR to fix that.

[2021-07-30 22:25] maxim-belkin commented on #490
Addressed in #493.

[2021-07-30 22:25] #490 closed

[2021-09-13 14:37] nadiamuhe opened #496 "Ep3 - Mislabelled cells"
There are two cells are that labelled "Python" instead of "Output". This can be confusing to new learners.

To be specific, the cells contain the following output:

1)
[code]
2)
[code]

[2021-09-13 14:42] nadiamuhe opened #497 "Ep2 - Typo"
The following code is used twice:

`rev = {'first': 'one', 'second': 'two'}`

This appears to be a typo. Suggestion to remove the second one.

[2021-09-13 15:15] maxim-belkin commented on #496
@nadiamuhe, would you like to submit a PR with a fix?

[2021-09-13 15:25] nadiamuhe commented on #496
@maxim-belkin Sure! I will submit one.

[2021-09-13 15:26] nadiamuhe commented on #497
@maxim-belkin Okay, I will do that!

[2021-09-13 16:13] #496 closed

[2021-12-09 21:59] TrungNg opened #501 "ep3 feedback"
<strong>Feedback on ep3</strong>

- pandas.read_csv is mostly used and could be introduced more with its options, e.g. index_col and header. An option of "index_col=0" could be useful here.
If space is a problem, the part of (first) reading and then assigning the read data frame to a variable can be combined into one cell:

- The output of the first read_csv looks like the index was described but

[2022-01-14 00:42] isaacWpark opened #502 "Episode 01 - transition to jupyter"
given that this episode is the only one that uses python directly from the command line, it might be worth making where the transition to jupyter should occur more clear - As it stands, it's unclear whether the entire episode should be taught in the command-line python instance, or whether we should trnasition to jupyter after demonstrating how to run a python script from the command line.

[2022-01-20 10:45] annajiat opened #503 "Need jump lists (anchors) for headings"
@zkamvar
We need to update style for this lesson so that jump lists (anchors for different sections) becomes automatically available for different levels of headings.

[2022-01-20 15:15] maxim-belkin commented on #503
I can take care of this, Annajiat.

[2022-01-20 15:34] annajiat commented on #503
Great, thanks @maxim-belkin

[2022-01-20 15:51] maxim-belkin commented on #503
No worries! Thanks for reminding me to take care of this. I've synced the lesson style files with carpentries/styles in d285ec4 and anchor links are now automatically added to all HTML headings.

[2022-01-20 15:51] #503 closed

[2022-01-20 22:55] maxim-belkin commented on #503
I have a vague recollection that @fmichonneau documented this process somewhere but it's not that difficult so I can briefly describe it here:

1. Navigate to the lesson directory on your computer, e.g.:
[code]
2. Add carpentries/styles repo as a remote:
[code]
3. Merge the `gh-pages` branch of the carpentries/styles repo into the `gh-pages` branch of the lesson repo:
[code]
You might have to reso

[2022-01-25 17:50] zkamvar commented on #503
Thank you for taking care of this, @maxim-belkin.

@annajiat, regarding the documentation, we created the https://github.com/carpentries/maintainer-resources repository in 2020 to store the meeting minutes and any potentially useful resources for maintainers but were not so great at advertising it.

The process for updating to the latest styles is here:

https://github.com/carpentries/maintainer-r

[2022-03-29 21:41] kthrog opened #505 "Ep2: Updating + adding links (and a citation) in "Our Data" section"
This issue is tied to [Episode 2, Starting with Data](https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/), specifically the section ["Our Data."](https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/#our-data)

### I'm proposing several updates and additions to clean up the links in this section as well as to add a full academic citation for the cited work. Thi

[2022-05-03 18:32] rmhorne opened #506 "Discussion on merging parts of Ep. 5 and Ep.2"
Hello everyone,

We recently ran a slightly modified version of this lesson ([https://ucsbcarpentry.github.io/2022-04-19-ucsb-python/](https://ucsbcarpentry.github.io/2022-04-19-ucsb-python/)), and it seems to us that there is a little redundancy / overlap between the discussion of data types in episodes 2 and 5 (to the point where we were comfortable skipping ahead to the NaN portion of the lesso

[2022-07-06 16:04] LibrarianEllie opened #512 "EP 05 Coding typo"
In episode 05- [Combining DataFrames with Pandas](https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html), on the section about Identifying join keys,  the Python code asks us to call species_sub.columns  this should probably be species_df.columns, as we did not create a species_sub in the lesson.  Then in the next block of code in Inner Joins: merged_inner = pd.merge(left=surv